/* Intro */
#intro-container {
  display: flex;
  height: 100vh;
  background-color: #edfdf0;
}

@media (max-width: 576px) {
  #intro-container {
    padding: 0 30px;
  }
}

#intro-container > div {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  #intro-container .section-title {
    font-size: 52px !important;
  }
  #intro-container > div {
    justify-content: unset;
    flex-direction: row;
  }
}
#intro-container .section-title {
  text-align: right;
}

#intro-container img {
  width: 100%;
}

/* Details */
#details-container {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

#details-container > .row {
  align-items: center;
}

@media (max-width: 576px) {
  #details-container {
    padding: 0 30px;
  }
}

#details-container p {
  font-size: 25px;
  color: #9f9f9f;
  text-align: justify;
  padding: 0 20px;
}

#contactInfo > p {
  text-align: center;
  margin: 7px 0;
  font-size: 20px;
}

#contactInfo > p > a {
  text-decoration: none;
  color: #9f9f9f;
}

#socialInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#socialInfo > a {
  margin: 5px;
  text-decoration: none;
}

.contact-fields {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  background-color: #fff;
}

.contact-fields form {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-fields form .form-top {
  display: flex;
  width: 430px;
  gap: 20px;
}

.contact-fields form .input-holder .input-error {
  background-color: #fff9f9;
  border: 1px solid #c02b0a;
  color: #c02b0a;
  font-size: 20px;

  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;

  margin: 0px;
  margin-top: 5px;
}

.text-area-input {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.contact-fields form input[type="text"],
.contact-fields form input[type="tel"],
.contact-fields form textarea {
  outline: none;
  border: none;
  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.035);
  border-bottom: 2px solid #e0e0e0;

  font-size: 20px;
  padding: 10px;
  padding-bottom: 5px;
  padding-right: 15px;

  width: 180px;
  transition: 0.1s;
}

.contact-fields form textarea {
  width: 395px;
  border-radius: 10px;
}

.contact-fields form input[type="text"]:focus,
.contact-fields form input[type="tel"]:focus,
.contact-fields form textarea:focus {
  border-bottom-color: #3452ff;
}

.contact-fields form button {
  border-radius: 10px;
  display: block;
  width: fit-content;
  cursor: pointer;
  background: #febd00;
  border-style: none;
  padding: 5px;
  padding-right: 22px;
  padding-left: 22px;
  color: #fff;
  text-decoration: none;
  position: relative;
  bottom: 0;
  font-weight: bold;
  transition: 200ms;
}

.contact-fields form button p {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

.contact-fields form button:hover {
  bottom: 5px;
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 768px) {
  .contact-fields form {
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
  }

  .contact-fields form .form-top {
    flex-wrap: wrap;
    width: 100vw;
  }

  .contact-fields form input[type="text"],
  .contact-fields form input[type="tel"],
  .contact-fields form textarea {
    width: 80vw;
  }

  .contact-fields form .form-top .input-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .contact-fields form .form-top .input-holder .input-error {
    width: 80vw;
  }

  .contact-fields form textarea {
    width: 80vw;
  }
}
