@import url(../fontiran.css);
:root {
    --primary: #110729;
    --secondary: #e6981c;
    --primaryTransparent: #110729ad;
}


* {
    font-family: iransansdn;
    scroll-behavior: smooth;
}

body {
    font-family: iransansdn;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: 200ms;
}

.container {
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
}

@media (max-width: 576px) {
    .container {
        padding: 0 30px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-6,
.col-md-6,
.col-md-3,
.col-md-4,
.col-md-8,
.col-lg-6,
.col-lg-4 {
    width: 100%;
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33%;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.67%;
    }
}

/* Scroll Up */
#scrollUp {
    transform: translateY(100px);
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.25);
    transition: 200ms;
    z-index: 1000;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    border: none;
    padding-left: 9px;
    padding-top: 4px;
    padding-right: 9px;
}

#scrollUp:hover {
    background-color: #110729;
}

/* Loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: 500ms;
    background-color: #fff;
}

/* Page Container */
#page {
    width: 100%;
    transition: transform 500ms ease, opacity 500ms ease;
    overflow: hidden;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    transition: transform .3s ease, background .3s ease;
    z-index: 1000;
    transform: translateY(0);
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 768px) {
    nav {
        justify-content: start;

        padding-left: 90px;
        padding-right: 90px;
    }
}

nav .logo-container{
    display: inherit;
}

#nav-menu {
    display: none;
}

@media (min-width: 768px) {
    #nav-menu {
        display: flex;
        list-style: none;
    }
}


#nav-menu>li {
    padding: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #110729ad;
    transition: 0.2s;
}

#nav-menu li .underline {
    height: 2px;
    background-color: #110729;
    width: 0%;
    transition: width 0.2s;
    margin: 0;
    margin-left: auto;
}

#nav-menu li:hover .underline {
    width: 100%;
}

#nav-menu li:hover a {
    color: #110729;
}

#nav-menu li.active .underline {
    background-color: #110729;
    width: 100%;
}

#nav-menu li.active a {
    color: #110729;
}

.nav-white .nav-link {
    color: #ffffffad !important;
}

.nav-white li .underline {
    background-color: #ffffff !important;
}

.nav-white li:hover a {
    color: #ffffff !important;
}

.nav-white li.active .underline {
    background-color: #ffffff !important;
    width: 100%;
}

.nav-white li.active a {
    color: #ffffff !important;
}

/* Logo */
.logo{
    border-radius: 10px;
}

/* Mobile Nav */
#mobileMenu {
    display: none;
    opacity: 0;
    flex-direction: column;
    width: 300px;
    padding-top: 100px;
    transition: 200ms ease-in;
    position: fixed;
    top: 0;
    left: 0;
    direction: ltr;
    color: #fff;
}

#menuExpand {
    display: block;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

#menuExpand>i {
    font-size: 24px;
    color: #110729;
}

@media (min-width: 768px) {
    #menuExpand {
        display: none;
    }
}

#menuCollapse {
    background-color: #e6981c;
    padding: 6px 8px;
    border-radius: 50%;
    opacity: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    transition: 200ms ease-in;
    outline: none;
    border: none;
    cursor: pointer;
}

#menuCollapse:hover {
    background-color: rgba(194, 129, 25, 0.516);
}

#menuCollapse>i {
    font-size: 32px;
    color: #fff;
}

#mobile-nav-menu {
    list-style: none;
}

#mobile-nav-menu>li {
    text-align: right;
    font-size: 32px;
    padding-bottom: 10px;
}

#mobile-nav-menu>li>a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

#mobile-nav-menu>li>a .underline {
    height: 2px;
    background-color: #fff;
    width: 0%;
    transition: width 0.2s;
    margin: 0;
    margin-left: auto;
}

#mobile-nav-menu>li>a:hover .underline {
    background-color: #fff;
    width: 100%;
}

#mobile-nav-menu>li.active>a .underline {
    background-color: #fff;
    width: 100%;
}

#side-about {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    padding-left: 10px;
}

#side-about>p {
    direction: rtl;
    font-size: 20px;
    margin-top: 0;
}


#side-social {
    direction: rtl;
    margin-top: 30px;
    display: flex;
}

#side-social>a {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    margin-left: 7px;
    transition: 300ms;
}

#side-social>a:hover {
    transform: scale(1.2);
}

/* Footer */
footer {
    background-color: #f2f2f2 !important;
}

footer>.row:nth-child(1) {
    padding: 75px 0;
}

footer>.row:nth-child(2) {
    align-items: center;
}

footer>.row {
    flex-direction: column;
}

.footer-info-conntainer {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    footer>.row {
        flex-direction: row;
    }
}

.footer-info {
    color: #666666 !important;
    margin: 5px 0;
    font-size: 18px;
}

.footer-info>a {
    color: #666666;
    text-decoration: none;
    transition: 250ms;
}

.footer-info>a:hover {
    color: #b2b2b2;
}

.footer-image {
    text-align: left;
}

.footer-copyright {
    color: #777777;
    font-size: 14px;
}

.footer-social {
    text-align: left;
    margin: 1em 0;
}
@media (max-width: 576px) {
    .footer-social {
        text-align: right;
    }
}

.footer-social>a {
    color: #777777;
    text-decoration: none;
    transition: 200ms;
}

.footer-social>a:hover {
    color: #110729;
}

.footer-social>a>i {
    font-size: 24px;
}

/* Button */
.btn {
    display: block;
    width: fit-content;
    cursor: pointer;
    background: #e6981c;
    border-style: none;
    padding-top: 7.5px;
    padding: 15px;
    padding-right: 35px;
    padding-left: 35px;
    color: #fff;
    text-decoration: none;
    position: relative;
    bottom: 0;
    font-weight: 900;
    transition: 200ms;
}

.btn:hover {
    bottom: 5px;
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
}

/* Section Title */

.section-title {
    font-size: 42px !important;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin-bottom: 10px;
}

.section-title-2 {
    font-weight: 400 !important;
    font-size: 30px !important;
}

.section-subtitle {
    font-size: 25px !important;
    color: #110729;
    text-align: center;
}

.section-description {
    font-size: 20px!important;
    text-align: justify!important;
    line-height: 40px;
    color: #808080;
    text-align: center;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 72px;
    }

    .section-subtitle {
        font-size: 29px;
    }
}

.section-title b {
    font-weight: 800;
}

/* Colors */
.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-black {
    color: #000;
}

.text-gray {
    color: #808080;
}

/* Text Alignment */
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/* Text Link */
.text-link {
    text-decoration: none;
    font-weight: 700;
}

/* Rounded */
.rounded {
    border-radius: 200px;
}

/* Display */
.d-none {
    display: none;
}

@media (min-width: 768px) {
    .d-md-block {
        display: block;
    }
}

@media (min-width: 992px) {
    .d-lg-flex {
        display: flex;
    }

    .d-lg-block {
        display: block;
    }
}

/* Card */

.card {
    padding: 16.4px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08), 0 13px 45px rgba(0, 0, 0, 0.08);
    margin: 18px 10px;
    border-radius: 20px;
}

.card-image {
    text-align: center;
}

.card-image img {
    width: 100%;
    max-width: 400px;
}

.card .title {
    font-size: 25px;
    color: #333333;
    padding-bottom: 1.5em;
    font-weight: bold;
}

.card .description {
    color: #808080;
    font-size: 20px;
    text-align: justify;
    margin: 0;
}

.card-color .title,
.card-color .description {
    color: #fff;
}

/* Margins and Paddings */
.pb-0 {
    padding-bottom: 0 !important;
}

.pt-1 {
    padding-top: 1em !important;
}

.p-1 {
    padding: 1em !important;
}

.p-2 {
    padding: 2em !important;
}

.p-3 {
    padding: 3em !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 1em !important;
}

.mb-2 {
    margin-bottom: 2em !important;
}

.mb-3 {
    margin-bottom: 3em !important;
}

.mt-1 {
    margin-top: 1em !important;
}

.mt-2 {
    margin-top: 2em !important;
}

.mx-auto {
    margin: 0 auto !important;
}

/* Background Colors */
.bg-yellow {
    background-color: var(--secondary);
}
.bg-primary {
    background-color: var(--primary);
}

/* Text Colors */
.text-white{
    color: #fff!important;
}
/* Images */
.image-fluid {
    max-width: 80%;
    height: auto;
}