/* Intro */
#intro-container {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #edfdf0;
  overflow: hidden;
}

#intro-container>div {
  align-items: center;
}

#intro-container .section-title {
  font-size: 40px;
  color: #e6981c;
  text-align: right;
}

#intro-container .section-subtitle {
  font-size: 20px;
  color: #333333;
  text-align: right;
}

@media (max-width: 576px) {
  #intro-container>div {
    justify-content: start;
    flex-direction: column;
  }
  #intro-container .section-title {
    font-size: 30px !important;
    margin-top: 2em;
    margin-bottom: 0;
  }

  #intro-container .section-subtitle {
    font-size: 20px !important;
    margin-top: 0;
  }

  #intro-container {
    padding: 0 30px;
  }
}

#intro-container img {
  width: 100%;
  z-index: 3;
}

#intro-container .btn {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.nectar-shape-divider-wrap {
  -webkit-font-smoothing: antialiased;
  color: #333333;
  visibility: visible;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: translateZ(0);
  margin-left: -50vw;
  left: 50%;
  width: 100vw;
  height: 50px;
}

.nectar-shape-divider {
  -webkit-font-smoothing: antialiased;
  color: #333333;
  visibility: visible;
  font: inherit;
  box-sizing: border-box;
  bottom: -1px;
  height: 100%;
  position: absolute;
  width: 102%;
  left: -1%;
  fill: #fff;
}

/* Details */
#details-container {
  display: flex;
}

#details-container>.row {
  align-items: center;
}

#details-container p {
  color: #808080;
  font-size: 18px;
  text-align: justify;
  padding: 0 20px;
}

#details-container img {
  width: 100%;
}

/* Slider */
.swiper {
  width: 100%;
  height: 250px;
  margin-top: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 576px) {
  .swiper-slide {
    width: 400px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #e6981c;
}

/* Job Listing */
#job-listing {
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 40px;
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

#job-listing .job-post {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #e2e2e2;

  padding: 12px 10px;
  cursor: pointer;
  max-height: 32px;
  transition: 200ms;
  overflow: hidden;
}

#job-listing .job-post.active {
  max-height: fit-content;
}

#job-listing .job-post .job-title {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
}

#job-listing .job-post .job-title i {
  font-size: 20px;
}

#job-listing .job-post .job-title p {
  font-weight: 600;
  font-size: 20px;
  color: #444;

  padding: 0px;
  margin: 0px;
}

#job-listing .job-description {
  color: #444;
}