/* Intro */
#IntroContainer {
  display: flex;
  overflow: hidden;
}

#Intro {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dayer {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.text-color-size {
  color: #6d6d6d;
  font-size: 23px;
  text-align: center;
}

#intro-text1 {
  position: absolute;
  left: 249px;
  top: 100px;
  font-weight: 100 !important;
}

#intro-text2 {
  position: absolute;
  left: 252px;
  top: 186px;
  font-weight: 100 !important;
}

#intro-text3 {
  position: absolute;
  left: 172px;
  top: 328px;
  font-weight: 100 !important;
}

#intro-text4 {
  position: absolute;
  left: 591px;
  top: 76px;
  font-weight: 100 !important;
}

#intro-text5 {
  position: absolute;
  left: 222px;
  top: 480px;
  font-weight: 100 !important;
}

#intro-text6 {
  position: absolute;
  left: 367px;
  top: 601px;
  font-weight: 100 !important;
}

#intro-text7 {
  position: absolute;
  left: 991px;
  top: 627px;
  font-weight: 100 !important;
}

#intro-text8 {
  position: absolute;
  left: 1015px;
  top: 491px;
  font-weight: 100 !important;
}

#intro-text9 {
  position: absolute;
  left: 1098px;
  top: 336px;
  font-weight: 100 !important;
}

#intro-text10 {
  position: absolute;
  left: 1098px;
  top: 192px;
  font-weight: 100 !important;
}

#intro-text11 {
  position: absolute;
  left: 932px;
  top: 87px;
  font-weight: 100 !important;
}

#orang {
  position: absolute;
  left: 858px;
  top: 614px;
}

#blue {
  position: absolute;
  left: 209px;
  top: 154px;
}

#green {
  position: absolute;
  left: 325px;
  top: 436px;
}

#dark-blue {
  position: absolute;
  left: 252px;
  top: 636px;
}

#light-blue {
  position: absolute;
  left: 480px;
  top: 70px;
}

#yellow {
  position: absolute;
  left: 802px;
  top: 93px;
}

#red {
  position: absolute;
  left: 136px;
  top: 167px;
}

#light-blue2 {
  position: absolute;
  left: 1040px;
  top: 450px;
}

#red2 {
  position: absolute;
  left: 1066px;
  top: 227px;
}

#maghz {
  position: absolute;
  left: 1157px;
  top: 111px;
}

.fade-in-text {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
  color: black;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#intro-title {
  color: #110729;
  text-align: center;
  font-size: 70px;
  line-height: 90px;
  text-align: center;
}

#intro-title > span {
  font-size: 139px;
  line-height: 130px;
}

#intro-btn {
  width: 245px;
  height: 67px;
  border-radius: 0 !important;
  cursor: pointer;
  background: #e6981c;
  border-radius: px;
  font-size: 40px;
  font-weight: 900;
  border-style: none;
}

@media (max-width: 1300px) {
  .starsec {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 571px 173px #00bcd4, 1732px 143px #00bcd4, 1745px 454px #ff5722,
      234px 784px #00bcd4, 1793px 1123px #ff9800, 1076px 504px #03a9f4,
      633px 601px #ff5722, 350px 630px #ffeb3b, 1164px 782px #00bcd4,
      76px 690px #3f51b5, 1825px 701px #cddc39, 1646px 578px #ffeb3b,
      544px 293px #2196f3, 445px 1061px #673ab7, 928px 47px #00bcd4,
      168px 1410px #8bc34a, 777px 782px #9c27b0, 1235px 1941px #9c27b0,
      104px 1690px #8bc34a, 1167px 1338px #e91e63, 345px 1652px #009688,
      1682px 1196px #f44336, 1995px 494px #8bc34a, 428px 798px #ff5722,
      340px 1623px #f44336, 605px 349px #9c27b0, 1339px 1344px #673ab7,
      1102px 1745px #3f51b5, 1592px 1676px #2196f3, 419px 1024px #ff9800,
      630px 1033px #4caf50, 1995px 1644px #00bcd4, 1092px 712px #9c27b0,
      1355px 606px #f44336, 622px 1881px #cddc39, 1481px 621px #9e9e9e,
      19px 1348px #8bc34a, 864px 1780px #e91e63, 442px 1136px #2196f3,
      67px 712px #ff5722, 89px 1406px #f44336, 275px 321px #009688,
      592px 630px #e91e63, 1012px 1690px #9c27b0, 1749px 23px #673ab7,
      94px 1542px #ffeb3b, 1201px 1657px #3f51b5, 1505px 692px #2196f3,
      1799px 601px #03a9f4, 656px 811px #00bcd4, 701px 597px #00bcd4,
      1202px 46px #ff5722, 890px 569px #ff5722, 1613px 813px #2196f3,
      223px 252px #ff9800, 983px 1093px #f44336, 726px 1029px #ffc107,
      1764px 778px #cddc39, 622px 1643px #f44336, 174px 1559px #673ab7,
      212px 517px #00bcd4, 340px 505px #fff, 1700px 39px #fff,
      1768px 516px #f44336, 849px 391px #ff9800, 228px 1824px #fff,
      1119px 1680px #ffc107, 812px 1480px #3f51b5, 1438px 1585px #cddc39,
      137px 1397px #fff, 1080px 456px #673ab7, 1208px 1437px #03a9f4,
      857px 281px #f44336, 1254px 1306px #cddc39, 987px 990px #4caf50,
      1655px 911px #00bcd4, 1102px 1216px #ff5722, 1807px 1044px #fff,
      660px 435px #03a9f4, 299px 678px #4caf50, 1193px 115px #ff9800,
      918px 290px #cddc39, 1447px 1422px #ffeb3b, 91px 1273px #9c27b0,
      108px 223px #ffeb3b, 146px 754px #00bcd4, 461px 1446px #ff5722,
      1004px 391px #673ab7, 1529px 516px #f44336, 1206px 845px #cddc39,
      347px 583px #009688, 1102px 1332px #f44336, 709px 1756px #00bcd4,
      1972px 248px #fff, 1669px 1344px #ff5722, 1132px 406px #f44336,
      320px 1076px #cddc39, 126px 943px #ffeb3b, 263px 604px #ff5722,
      1546px 692px #f44336;
    animation: animStar 150s linear infinite;
  }

  .starthird {
    content: " ";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;

    background: transparent;
    box-shadow: 571px 173px #00bcd4, 1732px 143px #00bcd4, 1745px 454px #ff5722,
      234px 784px #00bcd4, 1793px 1123px #ff9800, 1076px 504px #03a9f4,
      633px 601px #ff5722, 350px 630px #ffeb3b, 1164px 782px #00bcd4,
      76px 690px #3f51b5, 1825px 701px #cddc39, 1646px 578px #ffeb3b,
      544px 293px #2196f3, 445px 1061px #673ab7, 928px 47px #00bcd4,
      168px 1410px #8bc34a, 777px 782px #9c27b0, 1235px 1941px #9c27b0,
      104px 1690px #8bc34a, 1167px 1338px #e91e63, 345px 1652px #009688,
      1682px 1196px #f44336, 1995px 494px #8bc34a, 428px 798px #ff5722,
      340px 1623px #f44336, 605px 349px #9c27b0, 1339px 1344px #673ab7,
      1102px 1745px #3f51b5, 1592px 1676px #2196f3, 419px 1024px #ff9800,
      630px 1033px #4caf50, 1995px 1644px #00bcd4, 1092px 712px #9c27b0,
      1355px 606px #f44336, 622px 1881px #cddc39, 1481px 621px #9e9e9e,
      19px 1348px #8bc34a, 864px 1780px #e91e63, 442px 1136px #2196f3,
      67px 712px #ff5722, 89px 1406px #f44336, 275px 321px #009688,
      592px 630px #e91e63, 1012px 1690px #9c27b0, 1749px 23px #673ab7,
      94px 1542px #ffeb3b, 1201px 1657px #3f51b5, 1505px 692px #2196f3,
      1799px 601px #03a9f4, 656px 811px #00bcd4, 701px 597px #00bcd4,
      1202px 46px #ff5722, 890px 569px #ff5722, 1613px 813px #2196f3,
      223px 252px #ff9800, 983px 1093px #f44336, 726px 1029px #ffc107,
      1764px 778px #cddc39, 622px 1643px #f44336, 174px 1559px #673ab7,
      212px 517px #00bcd4, 340px 505px #fff, 1700px 39px #fff,
      1768px 516px #f44336, 849px 391px #ff9800, 228px 1824px #fff,
      1119px 1680px #ffc107, 812px 1480px #3f51b5, 1438px 1585px #cddc39,
      137px 1397px #fff, 1080px 456px #673ab7, 1208px 1437px #03a9f4,
      857px 281px #f44336, 1254px 1306px #cddc39, 987px 990px #4caf50,
      1655px 911px #00bcd4, 1102px 1216px #ff5722, 1807px 1044px #fff,
      660px 435px #03a9f4, 299px 678px #4caf50, 1193px 115px #ff9800,
      918px 290px #cddc39, 1447px 1422px #ffeb3b, 91px 1273px #9c27b0,
      108px 223px #ffeb3b, 146px 754px #00bcd4, 461px 1446px #ff5722,
      1004px 391px #673ab7, 1529px 516px #f44336, 1206px 845px #cddc39,
      347px 583px #009688, 1102px 1332px #f44336, 709px 1756px #00bcd4,
      1972px 248px #fff, 1669px 1344px #ff5722, 1132px 406px #f44336,
      320px 1076px #cddc39, 126px 943px #ffeb3b, 263px 604px #ff5722,
      1546px 692px #f44336;
    animation: animStar 10s linear infinite;
  }

  .starfourth {
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 571px 173px #00bcd4, 1732px 143px #00bcd4, 1745px 454px #ff5722,
      234px 784px #00bcd4, 1793px 1123px #ff9800, 1076px 504px #03a9f4,
      633px 601px #ff5722, 350px 630px #ffeb3b, 1164px 782px #00bcd4,
      76px 690px #3f51b5, 1825px 701px #cddc39, 1646px 578px #ffeb3b,
      544px 293px #2196f3, 445px 1061px #673ab7, 928px 47px #00bcd4,
      168px 1410px #8bc34a, 777px 782px #9c27b0, 1235px 1941px #9c27b0,
      104px 1690px #8bc34a, 1167px 1338px #e91e63, 345px 1652px #009688,
      1682px 1196px #f44336, 1995px 494px #8bc34a, 428px 798px #ff5722,
      340px 1623px #f44336, 605px 349px #9c27b0, 1339px 1344px #673ab7,
      1102px 1745px #3f51b5, 1592px 1676px #2196f3, 419px 1024px #ff9800,
      630px 1033px #4caf50, 1995px 1644px #00bcd4, 1092px 712px #9c27b0,
      1355px 606px #f44336, 622px 1881px #cddc39, 1481px 621px #9e9e9e,
      19px 1348px #8bc34a, 864px 1780px #e91e63, 442px 1136px #2196f3,
      67px 712px #ff5722, 89px 1406px #f44336, 275px 321px #009688,
      592px 630px #e91e63, 1012px 1690px #9c27b0, 1749px 23px #673ab7,
      94px 1542px #ffeb3b, 1201px 1657px #3f51b5, 1505px 692px #2196f3,
      1799px 601px #03a9f4, 656px 811px #00bcd4, 701px 597px #00bcd4,
      1202px 46px #ff5722, 890px 569px #ff5722, 1613px 813px #2196f3,
      223px 252px #ff9800, 983px 1093px #f44336, 726px 1029px #ffc107,
      1764px 778px #cddc39, 622px 1643px #f44336, 174px 1559px #673ab7,
      212px 517px #00bcd4, 340px 505px #fff, 1700px 39px #fff,
      1768px 516px #f44336, 849px 391px #ff9800, 228px 1824px #fff,
      1119px 1680px #ffc107, 812px 1480px #3f51b5, 1438px 1585px #cddc39,
      137px 1397px #fff, 1080px 456px #673ab7, 1208px 1437px #03a9f4,
      857px 281px #f44336, 1254px 1306px #cddc39, 987px 990px #4caf50,
      1655px 911px #00bcd4, 1102px 1216px #ff5722, 1807px 1044px #fff,
      660px 435px #03a9f4, 299px 678px #4caf50, 1193px 115px #ff9800,
      918px 290px #cddc39, 1447px 1422px #ffeb3b, 91px 1273px #9c27b0,
      108px 223px #ffeb3b, 146px 754px #00bcd4, 461px 1446px #ff5722,
      1004px 391px #673ab7, 1529px 516px #f44336, 1206px 845px #cddc39,
      347px 583px #009688, 1102px 1332px #f44336, 709px 1756px #00bcd4,
      1972px 248px #fff, 1669px 1344px #ff5722, 1132px 406px #f44336,
      320px 1076px #cddc39, 126px 943px #ffeb3b, 263px 604px #ff5722,
      1546px 692px #f44336;
    animation: animStar 50s linear infinite;
  }

  .starfifth {
    content: " ";
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 571px 173px #00bcd4, 1732px 143px #00bcd4, 1745px 454px #ff5722,
      234px 784px #00bcd4, 1793px 1123px #ff9800, 1076px 504px #03a9f4,
      633px 601px #ff5722, 350px 630px #ffeb3b, 1164px 782px #00bcd4,
      76px 690px #3f51b5, 1825px 701px #cddc39, 1646px 578px #ffeb3b,
      544px 293px #2196f3, 445px 1061px #673ab7, 928px 47px #00bcd4,
      168px 1410px #8bc34a, 777px 782px #9c27b0, 1235px 1941px #9c27b0,
      104px 1690px #8bc34a, 1167px 1338px #e91e63, 345px 1652px #009688,
      1682px 1196px #f44336, 1995px 494px #8bc34a, 428px 798px #ff5722,
      340px 1623px #f44336, 605px 349px #9c27b0, 1339px 1344px #673ab7,
      1102px 1745px #3f51b5, 1592px 1676px #2196f3, 419px 1024px #ff9800,
      630px 1033px #4caf50, 1995px 1644px #00bcd4, 1092px 712px #9c27b0,
      1355px 606px #f44336, 622px 1881px #cddc39, 1481px 621px #9e9e9e,
      19px 1348px #8bc34a, 864px 1780px #e91e63, 442px 1136px #2196f3,
      67px 712px #ff5722, 89px 1406px #f44336, 275px 321px #009688,
      592px 630px #e91e63, 1012px 1690px #9c27b0, 1749px 23px #673ab7,
      94px 1542px #ffeb3b, 1201px 1657px #3f51b5, 1505px 692px #2196f3,
      1799px 601px #03a9f4, 656px 811px #00bcd4, 701px 597px #00bcd4,
      1202px 46px #ff5722, 890px 569px #ff5722, 1613px 813px #2196f3,
      223px 252px #ff9800, 983px 1093px #f44336, 726px 1029px #ffc107,
      1764px 778px #cddc39, 622px 1643px #f44336, 174px 1559px #673ab7,
      212px 517px #00bcd4, 340px 505px #fff, 1700px 39px #fff,
      1768px 516px #f44336, 849px 391px #ff9800, 228px 1824px #fff,
      1119px 1680px #ffc107, 812px 1480px #3f51b5, 1438px 1585px #cddc39,
      137px 1397px #fff, 1080px 456px #673ab7, 1208px 1437px #03a9f4,
      857px 281px #f44336, 1254px 1306px #cddc39, 987px 990px #4caf50,
      1655px 911px #00bcd4, 1102px 1216px #ff5722, 1807px 1044px #fff,
      660px 435px #03a9f4, 299px 678px #4caf50, 1193px 115px #ff9800,
      918px 290px #cddc39, 1447px 1422px #ffeb3b, 91px 1273px #9c27b0,
      108px 223px #ffeb3b, 146px 754px #00bcd4, 461px 1446px #ff5722,
      1004px 391px #673ab7, 1529px 516px #f44336, 1206px 845px #cddc39,
      347px 583px #009688, 1102px 1332px #f44336, 709px 1756px #00bcd4,
      1972px 248px #fff, 1669px 1344px #ff5722, 1132px 406px #f44336,
      320px 1076px #cddc39, 126px 943px #ffeb3b, 263px 604px #ff5722,
      1546px 692px #f44336;
    animation: animStar 80s linear infinite;
  }

  @keyframes animStar {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-2000px);
    }
  }

  #intro-text1 {
    display: none;
  }

  #intro-text2 {
    display: none;
  }

  #intro-text3 {
    display: none;
  }

  #intro-text4 {
    display: none;
  }

  #intro-text5 {
    display: none;
  }

  #intro-text6 {
    display: none;
  }

  #intro-text7 {
    display: none;
  }

  #intro-text8 {
    display: none;
  }

  #intro-text9 {
    display: none;
  }

  #intro-text10 {
    display: none;
  }

  #intro-text11 {
    display: none;
  }

  #orang {
    position: absolute;
    left: 32px;
    top: 149px;
    height: 15px;
    width: 15px;
    display: none;
  }

  #blue {
    position: absolute;
    left: 304px;
    top: 242px;
    width: 8px;
    height: 8px;
    display: none;
  }

  #green {
    position: absolute;
    left: 40px;
    top: 420px;
    width: 15px;
    height: 15px;
    display: none;
  }

  #dark-blue {
    position: absolute;
    left: 92px;
    top: 380px;
    width: 15px;
    height: 15px;
    display: none;
  }

  #light-blue {
    position: absolute;
    left: 120px;
    top: 119px;
    width: 15px;
    height: 15px;
    display: none;
  }

  #yellow {
    position: absolute;
    left: 225px;
    top: 140px;
    width: 15px;
    height: 15px;
    display: none;
  }

  #red {
    position: absolute;
    left: 301px;
    top: 120px;
    width: 15px;
    height: 15px;
    display: none;
  }

  #light-blue2 {
    position: absolute;
    left: 10px;
    top: 99px;
    width: 15px;
    height: 15px;
    display: none;
  }

  #red2 {
    position: absolute;
    left: 315px;
    top: 380px;
    width: 15px;
    height: 15px;
    display: none;
  }

  #maghz {
    position: absolute;
    left: 350px;
    top: 220px;
    width: 15px;
    height: 15px;
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .text-color-size {
    font-size: 8px;
    line-height: 12px;
  }

  #intro-title > span {
    font-size: 65px;
    line-height: 50px;
  }

  #intro-btn {
    z-index: 10;
    color: black;
    font-size: 30px;
    line-height: 13px;
    width: 280px;
    height: 80px !important;
  }
}

@media (min-width: 300px) and (max-width: 640px) {
  .text-color-size {
    font-size: 8px;
    line-height: 12px;
  }

  #intro-title {
    font-size: 32px;
    line-height: 50px;
    padding-right: 10px;
  }

  #intro-title > span {
    font-size: 65px;
    line-height: 50px;
  }

  #intro-btn {
    z-index: 10;
    color: black;
    font-size: 30px;
    line-height: 13px;
    width: 280px;
    height: 80px !important;
  }
}

/* Creative Services */
.creative-services-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}

.creative-service-container img {
  height: 350px;
}

.creative-service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin-bottom: 100px;
}

.creative-service-container-reverse {
  flex-direction: column;
}

.creative-service-container p {
  margin: 0px;
  padding: 0px;
  color: #333333;
}

.creative-service-container .creative-title-secondry {
  color: hsl(0, 0%, 50%);
  font-size: 28px;
}

.creative-service-container .creative-title {
  font-size: 40px;
  font-weight: 700;
}

.creative-service-container .creative-title-small {
  font-weight: 700;
  font-size: 28px;
}

.creative-service-container .creative-description {
  font-size: 26px;
  font-weight: 400;
}

.creative-service-container .creative-description-secondry {
  color: #808080;
  font-size: 30px;
  font-weight: 400px;
}

.creative-text-container {
  text-align: center;
  margin: 0 25px;
}

.creative-service-container .creative-text-container-left {
  text-align: center;
}

.creative-service-container a.creative-link {
  font-weight: 900;
  margin: 15px auto;
  font-weight: 900;
  font-size: 15px;
}

@media (min-width: 768px) {
  .creative-service-container {
    flex-direction: row !important;
  }

  .creative-service-container-reverse {
    flex-direction: row-reverse !important;
  }

  .creative-service-container img {
    height: 471px;
  }

  .creative-service-container .creative-title {
    font-size: 83px;
  }

  .creative-service-container .creative-title-secondry {
    color: hsl(0, 0%, 50%);
    font-size: 48px;
  }

  .creative-service-container .creative-description {
    font-size: 50px;
    font-weight: 400;
  }

  .creative-service-container .creative-title-small {
    font-weight: 700;
    font-size: 56px;
  }

  .creative-service-container .creative-text-container-left {
    text-align: right;
  }

  .creative-service-container a.creative-link {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

/* Why Honaroma */
#why-honaroma {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}

#why-honaroma > h3 {
  color: #f1f1f1;
  font-size: 130px;
  font-weight: 200;
  margin: 0;
}

#why-honaroma > .title {
  font-size: 50px;
  margin-top: -50px;
  margin-bottom: 0;
  font-weight: 500;
}

#why-honaroma > .title > span:nth-child(1) {
  color: #110729;
}

#why-honaroma > .title > span:nth-child(2) {
  color: #e6981c;
}

#why-honaroma > p {
  font-size: 25px;
  color: #110729;
}

@media (min-width: 768px) {
  #why-honaroma > h3 {
    font-size: 277px;
  }

  #why-honaroma > .title {
    font-size: 98px;
    margin-top: -60px;
  }
  #why-honaroma > p {
    font-size: 29px;
  }
}

#trusted-by {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

#trusted-by .trusted-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 290px;
}

#trusted-by .trusted-main {
  display: flex;
  align-items: center;
}
#trusted-by img {
  width: 140px;
  height: 140px;
}

#trusted-by .trusted-main img {
  width: auto;
  height: 40px;
}

.trusted-by-container p {
  font-size: 72px;
  font-weight: 300;
  color: #333333;
  text-align: center;
  margin-bottom: 10px;
}

.trusted-by-container span {
  font-weight: 800;
}

@media screen and (max-width: 860px) {
  #trusted-by {
    flex-direction: column;
    align-items: center;
  }
}
