@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/Vazirmatn[wght].ttf') format('woff2 supports variations'),
        url('../fonts/Vazirmatn[wght].ttf') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: Vazirmatn;
    scroll-behavior: smooth;
}

body {
    font-family: Vazirmatn;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: 200ms;
}

.container {
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-6, .col-md-6, .col-md-3, .col-md-4, .col-md-8{
    width: 100%;
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33%;
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.67%;
    }
}

/* Scroll Up */
#scrollUp {
    transform: translateY(100px);
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.25);
    transition: 200ms;
    z-index: 1000;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    border: none;
    padding-left: 9px;
    padding-top: 4px;
    padding-right: 9px;
}

#scrollUp:hover {
    background-color: #110729;
}

/* Loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: 500ms;
    background-color: #fff;
}

/* Page Container */
#page {
    width: 100%;
    transition: transform 500ms ease, opacity 500ms ease;
    overflow: hidden;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    transition: transform .3s ease, background .3s ease;
    z-index: 1000;
    transform: translateY(0);
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 768px) {
    nav {
        justify-content: start;

        padding-left: 90px;
        padding-right: 90px;
    }
}

#nav-menu {
    display: none;
}

@media (min-width: 768px) {
    #nav-menu {
        display: flex;
        list-style: none;
    }
}


#nav-menu>li {
    padding: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #110729ad;
    transition: 0.2s;
}

#nav-menu li .underline {
    height: 2px;
    background-color: #110729;
    width: 0%;
    transition: width 0.2s;
    margin: 0;
    margin-left: auto;
}

#nav-menu li:hover .underline {
    background-color: #110729;
    width: 100%;
}

#nav-menu li:hover a {
    color: #110729 !important;
}

/* Mobile Nav */
#mobileMenu {
    display: none;
    opacity: 0;
    flex-direction: column;
    width: 300px;
    padding-top: 100px;
    transition: 200ms ease-in;
    position: fixed;
    top: 0;
    left: 0;
    direction: ltr;
    color: #fff;
}

#menuExpand {
    display: block;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

#menuExpand>i {
    font-size: 24px;
    color: #110729;
}

@media (min-width: 768px) {
    #menuExpand {
        display: none;
    }
}

#menuCollapse {
    background-color: #e6981c;
    padding: 6px 8px;
    border-radius: 50%;
    opacity: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    transition: 200ms ease-in;
    outline: none;
    border: none;
    cursor: pointer;
}

#menuCollapse:hover {
    background-color: rgba(194, 129, 25, 0.516);
}

#menuCollapse>i {
    font-size: 32px;
    color: #fff;
}

#mobile-nav-menu {
    list-style: none;
}

#mobile-nav-menu>li {
    text-align: right;
    font-size: 32px;
    padding-bottom: 10px;
}

#mobile-nav-menu>li>a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

#mobile-nav-menu>li>a .underline {
    height: 2px;
    background-color: #fff;
    width: 0%;
    transition: width 0.2s;
    margin: 0;
    margin-left: auto;
}

#mobile-nav-menu>li>a:hover .underline {
    background-color: #fff;
    width: 100%;
}

#side-about {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
}

#side-about>p {
    direction: rtl;
    font-size: 20px;
    margin-top: 0;
}


#side-social {
    direction: rtl;
    margin-top: 30px;
    display: flex;
}

#side-social>a {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    margin-left: 7px;
    transition: 300ms;
}

#side-social>a:hover {
    transform: scale(1.2);
}

/* Footer */
footer {
    background-color: #f2f2f2 !important;
}

footer>.row:nth-child(1) {
    padding: 75px 0;
}

footer>.row:nth-child(2) {
    align-items: center;
}

footer>.row {
    flex-direction: column;
}

.footer-info-conntainer {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    footer>.row {
        flex-direction: row;
    }
}

.footer-info {
    color: #666666 !important;
    margin: 5px 0;
    font-size: 18px;
}

.footer-info>a {
    color: #666666;
    text-decoration: none;
    transition: 250ms;
}

.footer-info>a:hover {
    color: #b2b2b2;
}

.footer-image {
    text-align: left;
}

.footer-copyright {
    color: #777777;
    font-size: 14px;
}

.footer-social {
    text-align: left;
    margin: 1em 0;
}

.footer-social>a {
    color: #777777;
    text-decoration: none;
    transition: 200ms;
}

.footer-social>a:hover {
    color: #110729;
}

.footer-social>a>i {
    font-size: 24px;
}

/* Button */
.btn {
    display: block;
    width: fit-content;
    cursor: pointer;
    background: #e6981c;
    border-style: none;
    padding-top: 7.5px;
    padding: 15px;
    padding-right: 35px;
    padding-left: 35px;
    color: #fff;
    text-decoration: none;
    position: relative;
    bottom: 0;
    font-weight: 900;
    transition: 200ms;
}

.btn:hover {
    bottom: 5px;
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
}

/* Section Title */

.section-title {
    font-size: 42px;
    font-weight: 300;
    color: #333333;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .section-subtitle {
    font-size: 25px;
    color: #110729;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .section-title {
      font-size: 72px;
    }
  
    .section-subtitle {
      font-size: 29px;
    }
  }
  
  .section-title b {
    font-weight: 800;
  }
  