<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" />
    <link rel="manifest"  href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/remixicon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutUsPage.css') }}" />
    <title>آکادمی هنروما | داستان ما</title>
</head>

<body onload="pageLoaded()">
    <!-- Mobile Menu -->
    <div id="mobileMenu">
        <button id="menuCollapse">
            <i class="ri-close-line"></i>
        </button>
        <ul id="mobile-nav-menu">

            <li class="active">
                <a href="{{url_for('aboutus') }}">
                    داستان ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('ourteam') }}">
                    تیم ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('contactus') }}">
                    ارتباط با ما
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
        <div id="side-about">
            درباره آکادمی هنروما
            <p>تهران،<br> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)، پلاک
                        ۳، خانه هنروما
</p>
            
                    <p>تلگرام، بله و ایتا: @Honaroma_ad</p>
        </div>
        <div id="side-social">
            <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i class="ri-instagram-line"></i></a>
        </div>
    </div>
    <!-- Scroll Up Btn -->
    <button id="scrollUp">
        <i class="ri-arrow-up-s-line"></i>
    </button>

    <div id="loader" class="animate__animated">
        <img src="/static/images/animation_300_ljxy19op.gif" width="300" />
    </div>
    <div id="page">
        <nav class="animate__animated animate__fadeIn nav-white">
            <a href="{{url_for('home') }}"><img class="logo" src="/static/images/honaroma.jpg" alt="" height="50" /></a>
            <ul id="nav-menu">

                <li class="active"><a class="nav-link" href="{{url_for('aboutus') }}">داستان ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('ourteam') }}">تیم ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('contactus') }}">ارتباط با ما</a>
                    <div class="underline"></div>
                </li>
            </ul>
            <button id="menuExpand">
                <i class="ri-menu-line"></i>
            </button>
        </nav>
        <div id="intro-container" class="container">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-flex">
                    <h1 class="section-title animate__animated animate__fadeInRight animate__delay-1s">
                        <b><span class="text-white">معرفی آکادمی هنروما</span></b>
                    </h1>
                </div>

                <div class="col-lg-6 col-12 animate__animated animate__fadeIn animate__delay-1s">
                    <img src="/static/images/about-us.png" width="844" />
                </div>
            </div>
            <div class="nectar-shape-divider-wrap no-color ">
                <svg class="nectar-shape-divider" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"
                    preserveAspectRatio="none">
                    <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
                </svg>
            </div>
        </div>
        <div id="details-container" class="container">
            <p class="section-title"><b>اینجا کجاست ؟</b></p>
            <p class="section-subtitle text-gray">
                آکادمی هنروما تلفیقی از خلاقیت، آموزش، تربیت، تولید و امید به آینده است. اینجا هر اتفاق کوچکی دلیل و هدف
                بزرگی توی دل خودش داره که قراره به ما در مسیر حرکت به سمت رشد کمک کنه.
                <br />
                توی این محفل قراره در کنار هم یاد بگیریم، تجربه کنیم، بسازیم و خوب به خودمون، توانایی ها و استعدادهامون
                فکر کنیم. چیزایی که دوست داریم رو پیدا کنیم و با هم برای سفر زندگی آماده بشیم.
                <br />
                آکادمی هنروما یک باغ پر از نهال هایی نورسیده ایه که برای لمس گرمای نور خورشید، تلاش میکنن و یاد میگیرن و
                تجربه میکنن .
                <br />
                هر دانش آموز هنرمند یک نهال سبز و تازه است که در خاک هنرمند پرور ایران سربرآورده و برای رشد از هیچ تلاشی
                فروگذاری نمیکنه…
                <br />
                ما باغبون های این مدرسه ایم که با تمام وجود حواسمون به شما هست ….

            </p>
        </div>
        <!-- <div id="why-honaroma" class="container">
            <div class="row">

                <div class="col-lg-4">
                    <p class="section-title">
                        <b>چرا <span class="text-primary">هنروما؟</span></b>
                        <img class="d-none d-md-block animate__animated" id="why-honaroma-image" src="/static/images/3ta.png" />
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="card animation" data-animation="animate__fadeInRight">
                        <div class="title">
                            1- We are young!
                        </div>
                        <p class="description">
                            Wana started by a group of highly skilled, energetic and young professionals. This youthful
                            energy helps you drive your business to the pinnacle of digital speed, accuracy and quality.


                        </p>
                    </div>
                    <div class="card animation" data-animation="animate__fadeInLeft">
                        <div class="title">
                            1- We are young!
                        </div>
                        <p class="description">
                            Wana started by a group of highly skilled, energetic and young professionals. This youthful
                            energy helps you drive your business to the pinnacle of digital speed, accuracy and quality.


                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card animation" data-animation="animate__fadeInLeft">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description">
                            In addition to cooperating with our colleagues in the Tehran office, we cooperate with a
                            large number of experts from all over the world according to each project. We will receive
                            your project and hand it over to its best specialist, from Iran to China to Canada!
                        </p>
                    </div>
                    <div class="card animation" data-animation="animate__fadeInRight">
                        <div class="title">
                            1- We are young!
                        </div>
                        <p class="description">
                            Wana started by a group of highly skilled, energetic and young professionals. This youthful
                            energy helps you drive your business to the pinnacle of digital speed, accuracy and quality.


                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div id="properties" class="container">
            <div id="imageContainer" class="animation" data-animation="animate__fadeIn">
                <img id="properties-image" src="/static/images/site-edit6.png" />
            </div>
            <div class="row animation" data-animation="animate__zoomIn">
                <div class="col-md-4">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description mb-1">
                            It’s not about what we do! It’s all about how we do! we do your projects to creative with
                            the brilliant ideas and innovations.

                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description mb-1">
                            It’s not about what we do! It’s all about how we do! we do your projects to creative with
                            the brilliant ideas and innovations.

                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description mb-1">
                            It’s not about what we do! It’s all about how we do! we do your projects to creative with
                            the brilliant ideas and innovations.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="container">
            <div class="row">
                <div class="col-md-4" id="imageContainer">
                    <img src="/static/images/222.png" class="animation" data-animation="animate__fadeInLeft" width="200" />
                </div>
                <div class="col-md-8 d-md-block d-none animation" data-animation="animate__fadeInRight">
                    <p class="section-title">
                        <b>ما هنروما هستیم!</b>
                    </p>
                    <p class="section-subtitle">
                        We are a dynamic and creative art and business development studio. Our years of experience in
                        creating successful online businesses i and having a professional, young and energetic team has
                        enabled us to provide the best possible results for the success of our customers in the digital
                        world.
                    </p>
                </div>
            </div>
        </div>
        <div id="story" class="container">
            <div class="row">
                <div class="col-md-8 animation" data-animation="animate__zoomIn">
                    <p class="section-title">
                        <b>Story of success, from Idea to Execute and create value. About wana Studio Founder, Alireza Eskandari</b>
                    </p>
                    <p class="section-subtitle">
                        Alireza’s career began with programming, signal processing and artificial intelligence. His interest in entrepreneurship and management made him to jump into creating most successful online business in Iran like Headphone app, Sedagraphy, Boghche, RoseBox etc. A couple of years experience in Turquouise Partners financial groups as the senior expert of  VC investment, give him an extrondery opportunity to learn more about how to establish a business from idea to creat value. Alireza Brings all those experiences and knowledge into WANA Studio to help all the clients from all over the world to shine in the online world!  Learn more about Alireza Eskandari.


                    </p>
                </div>
                <div class="col-md-4 animation" data-animation="animate__fadeInLeft" id="imageContainer">
                    <img src="/static/images/2222.jpeg" width="200" />
                </div>
            </div>
        </div> -->
        <footer class="container">
            <div class="row">
                <div class="col-md-6 footer-info-conntainer">
                    <p class="footer-info">تلگرام، بله و ایتا: @Honaroma_ad</p>
                    <br />
                    <p class="footer-info">تهران،<br /> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)، پلاک
                        ۳، خانه هنروما
                    </p>
                </div>
                <div class="col-md-6 footer-image">
                    <img src="/static/images/honaroma.jpg" width="175" class="logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-copyright">تمام حقوق این سایت برای آکادمی هنروما محفوظ است.
                        <span style="font-size: 12px;"> - طراحی شده توسط محمد حاجی کندی و ایلیا سلیمانی</span>
                    </p>
                </div>
                <div class="col-md-6 footer-social">
                    <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i class="ri-instagram-line"></i></a>
            </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>

    </script>

</body>

</html>