<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Preload Fonts -->
    <link rel="preload" href="/static/fonts/woff2/iransansdnbold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/static/fonts/woff2/iransansdn.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/static/fonts/woff2/iransansdnlight.woff2" as="font" type="font/woff2" crossorigin />
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}"
        color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/remixicon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contactUsPage.css') }}" />
    <title>آکادمی هنروما | ارتباط با ما</title>
</head>

<body onload="pageLoaded()">
    <!-- Mobile Menu -->
    <div id="mobileMenu">
        <button id="menuCollapse">
            <i class="ri-close-line"></i>
        </button>
        <ul id="mobile-nav-menu">

            <li>
                <a href="{{url_for('aboutus') }}">
                    داستان ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('ourteam') }}">
                    تیم ما
                    <div class="underline"></div>
                </a>
            </li>
            <li class="active">
                <a href="{{url_for('contactus') }}">
                    ارتباط با ما
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
        <div id="side-about">
            <p>تهران،<br> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)، پلاک
                ۳، خانه هنروما
            </p>
        </div>
        <div id="side-social">
            <p class="footer-info social social-lg">
                <a href="https://t.me/Honaroma_ad">
                    <img src="/static/images/telegram-white.png" />
                </a>
                <a href="https://ble.ir/Honaroma_ad">
                    <img src="/static/images/bale-white.png" />
                </a>
                <a href="https://eitaa.com/honaroma_ad">
                    <img src="/static/images/eitaa-white.png" />
                </a>
                <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA==">
                    <img src="/static/images/instagram-white.png" />
                </a>
            </p>

        </div>
    </div>
    <!-- Scroll Up Btn -->
    <button id="scrollUp">
        <i class="ri-arrow-up-s-line"></i>
    </button>

    <div id="loader" class="animate__animated">
        <img src="/static/images/animation_300_ljxy19op.gif" width="300" />
    </div>
    <div id="page">
        <nav class="animate__animated animate__fadeIn">
            <a href="{{url_for('home') }}"><img class="logo" src="/static/images/honaroma.jpg" alt="" height="50" /></a>
            <ul id="nav-menu">

                <li><a class="nav-link" href="{{url_for('aboutus') }}">داستان ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('ourteam') }}">تیم ما</a>
                    <div class="underline"></div>
                </li>
                <li class="active"><a class="nav-link" href="{{url_for('contactus') }}">ارتباط با ما</a>
                    <div class="underline"></div>
                </li>
            </ul>
            <button id="menuExpand">
                <i class="ri-menu-line"></i>
            </button>
        </nav>
        <div id="intro-container" class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="section-title  animate__animated animate__fadeInRight animate__delay-1s">
                        <b class="text-secondary">برای شنیدن شما مشتاقیم!</b>😊
                    </p>
                </div>
                <div class="col-md-6 animate__animated animate__fadeInLeft animate__delay-1s">
                    <img src="/static/images/03491959-4BBB-4513-BFFC-DC0006F48ACE.png" width="844" />
                </div>
            </div>
        </div>
        <div id="details-container" class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        می‌تونیم از طریق شبکه‌های اجتماعی با هم در ارتباط باشیم یا اگر مایلید برای ما پیام بگذارید.
                    </p>
                </div>
                <div class="col-md-6" id="contactInfo">
                    <div id="socialInfo">
                        <p class="social">
                            <a href="https://t.me/Honaroma_ad">
                                <img src="/static/images/telegram.png" />
                            </a>
                            <a href="https://ble.ir/Honaroma_ad">
                                <img src="/static/images/bale.png" />
                            </a>
                            <a href="https://eitaa.com/honaroma_ad">
                                <img src="/static/images/eitaa.png" />
                            </a>
                            <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA==">
                                <img src="/static/images/instagram.png" />
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-fields">
            <form action="{{ url_for('contactus') }}" method="post">
                <div class="form-top">
                    <div class="input-holder">
                        <input type="text" id="name" name="name" placeholder="اسم" required minlength="4" />
                    </div>
                    <div class="input-holder">
                        <input type="tel" id="phone" name="phone" placeholder="شماره تلفن" required minlength="10" />
                    </div>

                </div>
                <div class="input-holder text-area-input">
                    <textarea type="text" id="message" name="message" placeholder="پیام" required
                        minlength="10"></textarea>
                </div>
                <button>
                    <p>ثبت</p>
                </button>
            </form>
        </div>

        <footer class="container">
            <div class="row">
                <div class="col-md-8 footer-info-conntainer">
                    <p class="footer-info social">
                        <a href="https://t.me/Honaroma_ad">
                            <img src="/static/images/telegram.png" />
                        </a>
                        <a href="https://ble.ir/Honaroma_ad">
                            <img src="/static/images/bale.png" />
                        </a>
                        <a href="https://eitaa.com/honaroma_ad">
                            <img src="/static/images/eitaa.png" />
                        </a>
                        <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA==">
                            <img src="/static/images/instagram.png" />
                        </a>
                    </p>
                    <br />
                    <p class="footer-info">تهران،<br /> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)،
                        پلاک
                        ۳، خانه هنروما
                    </p>
                </div>
                <div class="col-md-4 footer-image">
                    <img src="/static/images/honaroma.jpg" width="175" class="logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-copyright">تمام حقوق این سایت برای آکادمی هنروما محفوظ است.
                        <span style="font-size: 12px;"> - طراحی شده توسط محمد حاجی کندی و ایلیا سلیمانی</span>
                    </p>
                </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>

    </script>

</body>

</html>