<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}"
        color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}"
        color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/remixicon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}">
    <title>آکادمی هنروما</title>
</head>

<body>
    <!-- Mobile Menu -->
    <div id="mobileMenu">
        <button id="menuCollapse">
            <i class="ri-close-line"></i>
        </button>
        <ul id="mobile-nav-menu">

            <li>
                <a href="{{url_for('aboutus') }}">
                    داستان ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('ourteam') }}">
                    تیم ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('contactus') }}">
                    ارتباط با ما
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
        <div id="side-about">
            <p>تهران،<br> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)، پلاک
                ۳، خانه هنروما
            </p>

            <p>تلگرام، بله و ایتا: @Honaroma_ad</p>
        </div>
        <div id="side-social">
            <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i
                    class="ri-instagram-line"></i></a>

        </div>
    </div>
    <!-- Scroll Up Btn -->
    <button id="scrollUp">
        <i class="ri-arrow-up-s-line"></i>
    </button>

    <div id="loader" class="animate__animated">
        <img src="/static/images/animation_300_ljxy19op.gif" width="300" />
    </div>
    <div id="page">
        <nav class="animate__animated animate__fadeIn">
            <a href="{{url_for('home') }}" class="logo-container"><img class="logo" src="/static/images/honaroma.jpg"
                    alt="" height="50" /></a>
            <ul id="nav-menu">

                <li><a class="nav-link" href="{{url_for('aboutus') }}">داستان ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('ourteam') }}">تیم ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('contactus') }}">ارتباط با ما</a>
                    <div class="underline"></div>
                </li>
            </ul>
            <button id="menuExpand">
                <i class="ri-menu-line"></i>
            </button>
        </nav>
        <div id="intro-container">
            <div id="intro" class="animate__animated animate__zoomIn">
                <div class="text-color-size" id="intro-text4">
                    خلاقیت
                </div>
                <div class="text-color-size" id="intro-text2">
                    نوآوری
                </div>
                <div class="text-color-size" id="intro-text3">
                    تجربه
                </div>
                <div class="text-color-size" id="intro-text10">
                    سفر
                </div>
                <div class="text-color-size" id="intro-text5">
                    جستجو
                </div>
                <div class="text-color-size" id="intro-text6">
                    هنر
                </div>
                <div class="text-color-size" id="intro-text7">
                    ذوق
                </div>
                <div class="text-color-size" id="intro-text8">
                    امید
                </div>
                <div class="text-color-size" id="intro-text9">
                    سادگی
                </div>
                <div class="text-color-size" id="intro-text11">
                    ایده پردازی
                </div>

                <div class="dayer fade-in-text" style="background-color: #FF9400;" id="orang">

                </div>
                <div class="dayer fade-in-text" style="background-color: #4DBE18;" id="green">

                </div>
                <div class="dayer fade-in-text" style="background-color: #2128BE;" id="dark-blue">

                </div>
                <div class="dayer fade-in-text" style="background-color: #52C3FF;" id="light-blue">

                </div>
                <div class="dayer fade-in-text" style="background-color: #FEBD00;" id="yellow">

                </div>
                <div class="dayer fade-in-text" style="background-color: #FE5E00;" id="red">

                </div>
                <div class="dayer fade-in-text" style="background-color: #0060FF;" id="light-blue2">

                </div>
                <div class="dayer fade-in-text" style="background-color: #FE5F4C;" id="red2">

                </div>
                <div class="dayer fade-in-text" style="background-color: #8AF6FF;" id="maghz">

                </div>
                <div id="intro-title">
                    که از هر انگشتت
                    <br />
                    <span>یه هنر بباره</span>
                </div>
                <div class="mt-2">
                    <a href="{{url_for('studentservice') }}">
                        <button id="intro-btn">
                            چطوری؟
                        </button>
                    </a>
                </div>

            </div>
            <!-- Intro Animation -->
            <div style="z-index:-1 !important;position:relative;">
                <div>
                    <div class="starsec"></div>
                    <div class="starthird"></div>
                    <div class="starfourth"></div>
                </div>
            </div>
        </div>
        <div id="creative-services-container">
            <div class="creative-service-container creative-service-container-reverse">
                <div class="animation" data-animation="animate__rotateIn">
                    <img src="./static/images/B61624D5-B1C0-4085-8BDC-4C01EF412039.png" height="471" />
                </div>
                <div class="creative-text-container creative-text-container-left" id="creative-container-1">
                    <!-- <p class="creative-title-secondry">هووم تجربه یک سفر هنری!</p> -->
                    <p class="creative-title-small">هووم تجربه یک سفر هنری!</p>
                    <p class="creative-description-secondry">درون توست اگر خلوتی و انجمنی است
                        <br />
                        برون ز خویش کجا می‌روی؟ هنر اینجاست...</p>
                    <a class="creative-link btn" href="{{url_for('hoomservice') }}">
                        آغاز سفر
                    </a>
                </div>
            </div>
        </div>
        <div id="why-honaroma" class="container">
            <h3>چرا؟</h3>
            <p class="why-honaroma-title"><span>آکادمی</span> <span>هنروما</span></p>
            <p class="section-subtitle">برای یه تجربه قشنگ هنری</p>
        </div>
        <div id="services-container" class="container">
            <p class="section-title">
                <b>خدمات ما</b>
            </p>
            <div class="row animation" data-animation="animate__fadeInUp">
                <div class="col-md-4">
                    <div class="service-box">
                        <img height="250" src="/static/images/487A4B2F-4756-496D-B219-47ED61ED1815.png" />
                        <p class="service-title">اگر دانش آموزی...</p>
                        <a class="btn" href="{{url_for('studentservice') }}">
                            اینجا کلیک کن
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <img height="250" src="/static/images/2E0B9A20-5501-441F-A806-89655504D174.png" />
                        <p class="service-title">اگر معلّمی...</p>
                        <a class="btn" href="{{url_for('teacherservice') }}">
                            اینجا کلیک کن
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <img height="250" src="/static/images/D57697EB-0EB5-4F4F-8E8D-75287B7B9386.png" />
                        <p class="service-title">اگر مدرسه یا سازمانی...</p>
                        <a class="btn" href="{{url_for('schoolservice') }}">
                            اینجا کلیک کن
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="venture-container" class="mb-3">
            <p class="section-title"><b>همراهان ما</b></p>
            <div class="row animation" data-animation="animate__fadeIn">
                <div class="col-md-4">
                    <div class="venture-box">
                        <img height="150" src="/static/images/safirfilm.jpeg" />
                        <p class="venture-title">سفیرفیلم</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="venture-box">
                        <img height="150" src="/static/images/allamehelli.jpeg" />
                        <p class="venture-title">موسسه علامه حلی</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="venture-box">
                        <img height="150" src="/static/images/jashnvareh.jpeg" />
                        <p class="venture-title">جشنواره فیلم کوتاه دانش آموزی</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="venture-box">
                        <img height="150" src="/static/images/حوزه هنری.jpg" />
                        <p class="venture-title">حوزه هنری</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="venture-box">
                        <img height="150" src="/static/images/download.jpeg" />
                        <p class="venture-title">هنروما</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="venture-box">
                        <img height="150" src="/static/images/Sampad.svg" />
                        <p class="venture-title">سمپاد</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="contactus-container" class="container">
            <div class="row">
                <div id="contact-us-text" class="col-md-6  animation" data-animation="animate__fadeInLeft">
                    <p class="section-title">
                        <b>منتظر شنیدن شماییم!</b>
                    </p>
                    <a class="creative-link btn" href="{{ url_for('contactus') }}">
                        ارتباط با ما
                    </a>
                </div>
                <div id="contact-us-image" class="col-md-6 animation" data-animation="animate__fadeInRight">
                    <img src="/static/images/smapleContactUs.png" />
                </div>
            </div>
        </div>
        <footer class="container">
            <div class="row">
                <div class="col-md-8 footer-info-conntainer">
                    <p class="footer-info social">
                        <a href="https://t.me/Honaroma_ad">
                            <img src="/static/images/Telegram_logo.svg.webp" />
                        </a>
                        <a href="https://ble.ir/Honaroma_ad">
                            <img src="/static/images/bale.jpg" />
                        </a>
                        <a href="https://eitaa.com/honaroma_ad">
                            <img src="/static/images/Eitaa-vector-logo.png" />
                        </a>
                    </p>
                    <br />
                    <p class="footer-info">تهران،<br /> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)،
                        پلاک
                        ۳، خانه هنروما
                    </p>
                </div>
                <div class="col-md-4 footer-image">
                    <img src="/static/images/honaroma.jpg" width="175" class="logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-copyright">تمام حقوق این سایت برای آکادمی هنروما محفوظ است.
                        <span style="font-size: 12px;"> - طراحی شده توسط محمد حاجی کندی و ایلیا سلیمانی</span>
                    </p>
                </div>
                <div class="col-md-6 footer-social">
                    <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i
                            class="ri-instagram-line"></i></a>
                </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>