<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Preload Fonts -->
    <link rel="preload" href="/static/fonts/woff2/iransansdnbold.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/static/fonts/woff2/iransansdn.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/static/fonts/woff2/iransansdnlight.woff2" as="font" type="font/woff2" />
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" />
    <link rel="manifest"  href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/remixicon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jobPostsPage.css') }}" />
    <title>آکادمی هنروما</title>
</head>

<body onload="pageLoaded()">
    <!-- Mobile Menu -->
    <div id="mobileMenu">
        <button id="menuCollapse">
            <i class="ri-close-line"></i>
        </button>
        <ul id="mobile-nav-menu">
            <li class="active">
                <a href="job-posts.html">
                    همکاری با ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('aboutus') }}">
                    داستان ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('ourteam') }}">
                    تیم ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('contactus') }}">
                    ارتباط با ما
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
        <div id="side-about">
            <p>تهران،<br> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)، پلاک
                        ۳، خانه هنروما
</p>
            
                    <p>تلگرام، بله و ایتا: @Honaroma_ad</p>
        </div>
        <div id="side-social">
            <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i class="ri-instagram-line"></i></a>
            
        </div>
    </div>
    <!-- Scroll Up Btn -->
    <button id="scrollUp">
        <i class="ri-arrow-up-s-line"></i>
    </button>

    <div id="loader" class="animate__animated">
        <img src="/static/images/animation_300_ljxy19op.gif" width="300" />
    </div>
    <div id="page">
        <nav class="animate__animated animate__fadeIn">
            <a href="{{url_for('home') }}"><img class="logo" src="/static/images/honaroma.jpg" alt="" height="50" /></a>
            <ul id="nav-menu">
                <li class="active"><a class="nav-link" href="job-posts.html">همکاری با ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('aboutus') }}">داستان ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('ourteam') }}">تیم ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('contactus') }}">ارتباط با ما</a>
                    <div class="underline"></div>
                </li>
            </ul>
            <button id="menuExpand">
                <i class="ri-menu-line"></i>
            </button>
        </nav>
        <div id="intro-container" class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="section-title"><b>عضو هنروما شوید!</b>😊</p>
                    <p class="section-subtitle">Wana started by a group of highly skilled, energetic and young
                        professionals. This youthful energy helps you drive your business to the pinnacle of digital
                        speed, accuracy and quality.</p>
                    <a class="btn" href="#job-listing">
                        مشاهده شعل ها
                    </a>
                </div>
                <div class="col-md-6 animate__animated animate__fadeIn animate__delay-1s">
                    <img src="/static/images/jobPosts.png" width="844" />
                </div>
            </div>
            <div class="nectar-shape-divider-wrap no-color">
                <svg class="nectar-shape-divider" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1003.92 91"
                    preserveAspectRatio="none">
                    <polygon class="cls-1"
                        points="502.46 46.31 1 85.67 1 91.89 1002.91 91.89 1002.91 85.78 502.46 46.31">
                    </polygon>
                    <polygon class="cls-2" points="502.46 45.8 1 0 1 91.38 1002.91 91.38 1002.91 0.1 502.46 45.8">
                    </polygon>
                    <rect class="cls-3" y="45.81" width="1003.92" height="46.09"></rect>
                </svg>
            </div>
        </div>
        <div id="details-container" class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using ‘Content here, content here’, making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).
                    </p>
                </div>
                <div class="col-md-8 animation" data-animation="animate__fadeIn" id="details-image">
                    <img src="/static/images/details.jpg" />
                </div>
            </div>
        </div>
        <div class="animation" data-animation="animate__fadeIn">
            <!-- Swiper -->
            <div dir="ltr" class="swiper imageSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/static/images/details.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/details.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/details.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/details.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/details.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/details.jpg" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div id="job-listing">
            <div class="job-post">
                <div class="job-title">
                    <i class="ri-add-line"></i>
                    <i class="ri-subtract-line" style="display: none;"></i>
                    <p>React js Specialist</p>
                </div>
                <div class="job-description">
                    <p>
                    <p>Job Description<br> ● Monitor customers’ needs, commercial trends, market situation, and
                        competitor’s activities.<br> ● Liaising with existing Suppliers/Sellers and negotiating
                        contracts.<br> ● Sourcing and building relations with new suppliers/sellers.<br> ● Analyzing
                        past sales patterns to anticipate trends in consumer buying patterns.<br> ● Recommending
                        clearance sales and varying delivery schedules to help control stock levels.<br> ● End-to-end
                        ownership of commercial side for specific types of products from supply to sales.<br> ● Working
                        with the Marketing department in order to present sales promotion.<br> ● Controlling and
                        monitoring price competitiveness in both Marketplace and retail sides.<br> ● Controlling the
                        assortments and inventory<br> <br> Requirements<br> ● At least Bachelor’s degree in Business, or
                        Marketing.<br> ● 4 years of sales or purchasing experience.<br> ● Preferable familiar to
                        Personal Appliances or Health Tools (Home Care) markets.<br> ● Ability to work in a fast-paced
                        environment where continuous innovation is desired.<br> ● Exhibit strong decision-making
                        abilities.<br> ● Proven analytical and quantitative skills.<br> ● Exceptional software skills
                        and knowledge of MS Office (Word, Excel, Outlook, and PowerPoint).<br> ● Full passionate about
                        learning.<br> ● Enjoy working as a team member in a busy and creative environment.<br> ●
                        Excellent negotiation and communication skills.<br> ● Strong verbal and written presentation
                        skills.<br> <br> Employment Type<br> ● Full Time</p>
                    </p>
                    <a class="btn rounded text-black">Apply Now</a>
                </div>
            </div>
            <div class="job-post">
                <div class="job-title">
                    <i class="ri-add-line"></i>
                    <i class="ri-subtract-line" style="display: none;"></i>
                    <p>React js Specialist</p>
                </div>
                <div class="job-description">
                    <p>
                    <p>Job Description<br> ● Monitor customers’ needs, commercial trends, market situation, and
                        competitor’s activities.<br> ● Liaising with existing Suppliers/Sellers and negotiating
                        contracts.<br> ● Sourcing and building relations with new suppliers/sellers.<br> ● Analyzing
                        past sales patterns to anticipate trends in consumer buying patterns.<br> ● Recommending
                        clearance sales and varying delivery schedules to help control stock levels.<br> ● End-to-end
                        ownership of commercial side for specific types of products from supply to sales.<br> ● Working
                        with the Marketing department in order to present sales promotion.<br> ● Controlling and
                        monitoring price competitiveness in both Marketplace and retail sides.<br> ● Controlling the
                        assortments and inventory<br> <br> Requirements<br> ● At least Bachelor’s degree in Business, or
                        Marketing.<br> ● 4 years of sales or purchasing experience.<br> ● Preferable familiar to
                        Personal Appliances or Health Tools (Home Care) markets.<br> ● Ability to work in a fast-paced
                        environment where continuous innovation is desired.<br> ● Exhibit strong decision-making
                        abilities.<br> ● Proven analytical and quantitative skills.<br> ● Exceptional software skills
                        and knowledge of MS Office (Word, Excel, Outlook, and PowerPoint).<br> ● Full passionate about
                        learning.<br> ● Enjoy working as a team member in a busy and creative environment.<br> ●
                        Excellent negotiation and communication skills.<br> ● Strong verbal and written presentation
                        skills.<br> <br> Employment Type<br> ● Full Time</p>
                    </p>
                    <a class="btn rounded text-black">Apply Now</a>
                </div>
            </div>
            <div class="job-post">
                <div class="job-title">
                    <i class="ri-add-line"></i>
                    <i class="ri-subtract-line" style="display: none;"></i>
                    <p>React js Specialist</p>
                </div>
                <div class="job-description">
                    <p>
                    <p>Job Description<br> ● Monitor customers’ needs, commercial trends, market situation, and
                        competitor’s activities.<br> ● Liaising with existing Suppliers/Sellers and negotiating
                        contracts.<br> ● Sourcing and building relations with new suppliers/sellers.<br> ● Analyzing
                        past sales patterns to anticipate trends in consumer buying patterns.<br> ● Recommending
                        clearance sales and varying delivery schedules to help control stock levels.<br> ● End-to-end
                        ownership of commercial side for specific types of products from supply to sales.<br> ● Working
                        with the Marketing department in order to present sales promotion.<br> ● Controlling and
                        monitoring price competitiveness in both Marketplace and retail sides.<br> ● Controlling the
                        assortments and inventory<br> <br> Requirements<br> ● At least Bachelor’s degree in Business, or
                        Marketing.<br> ● 4 years of sales or purchasing experience.<br> ● Preferable familiar to
                        Personal Appliances or Health Tools (Home Care) markets.<br> ● Ability to work in a fast-paced
                        environment where continuous innovation is desired.<br> ● Exhibit strong decision-making
                        abilities.<br> ● Proven analytical and quantitative skills.<br> ● Exceptional software skills
                        and knowledge of MS Office (Word, Excel, Outlook, and PowerPoint).<br> ● Full passionate about
                        learning.<br> ● Enjoy working as a team member in a busy and creative environment.<br> ●
                        Excellent negotiation and communication skills.<br> ● Strong verbal and written presentation
                        skills.<br> <br> Employment Type<br> ● Full Time</p>
                    </p>
                    <a class="btn rounded text-black">Apply Now</a>
                </div>
            </div>
            <div class="job-post">
                <div class="job-title">
                    <i class="ri-add-line"></i>
                    <i class="ri-subtract-line" style="display: none;"></i>
                    <p>React js Specialist</p>
                </div>
                <div class="job-description">
                    <p>
                    <p>Job Description<br> ● Monitor customers’ needs, commercial trends, market situation, and
                        competitor’s activities.<br> ● Liaising with existing Suppliers/Sellers and negotiating
                        contracts.<br> ● Sourcing and building relations with new suppliers/sellers.<br> ● Analyzing
                        past sales patterns to anticipate trends in consumer buying patterns.<br> ● Recommending
                        clearance sales and varying delivery schedules to help control stock levels.<br> ● End-to-end
                        ownership of commercial side for specific types of products from supply to sales.<br> ● Working
                        with the Marketing department in order to present sales promotion.<br> ● Controlling and
                        monitoring price competitiveness in both Marketplace and retail sides.<br> ● Controlling the
                        assortments and inventory<br> <br> Requirements<br> ● At least Bachelor’s degree in Business, or
                        Marketing.<br> ● 4 years of sales or purchasing experience.<br> ● Preferable familiar to
                        Personal Appliances or Health Tools (Home Care) markets.<br> ● Ability to work in a fast-paced
                        environment where continuous innovation is desired.<br> ● Exhibit strong decision-making
                        abilities.<br> ● Proven analytical and quantitative skills.<br> ● Exceptional software skills
                        and knowledge of MS Office (Word, Excel, Outlook, and PowerPoint).<br> ● Full passionate about
                        learning.<br> ● Enjoy working as a team member in a busy and creative environment.<br> ●
                        Excellent negotiation and communication skills.<br> ● Strong verbal and written presentation
                        skills.<br> <br> Employment Type<br> ● Full Time</p>
                    </p>
                    <a class="btn rounded text-black">Apply Now</a>
                </div>
            </div>
        </div>

        <footer class="container">
            <div class="row">
                <div class="col-md-8 footer-info-conntainer">
                    <p class="footer-info social">
                        <a href="https://t.me/Honaroma_ad">
                            <img src="/static/images/Telegram_logo.svg.webp" />
                        </a>
                        <a href="https://ble.ir/Honaroma_ad">
                            <img src="/static/images/bale.jpg" />
                        </a>
                        <a href="https://eitaa.com/honaroma_ad">
                            <img src="/static/images/Eitaa-vector-logo.png" />
                        </a>
                    </p>
                    <br />
                    <p class="footer-info">تهران،<br /> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)، پلاک
                        ۳، خانه هنروما
                    </p>
                </div>
                <div class="col-md-4 footer-image">
                    <img src="/static/images/honaroma.jpg" width="175" class="logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-copyright">Copyright © 2021 wana studio . Built with love in Iran All
                        Rights
                        Reserved. </p>
                </div>
                <div class="col-md-6 footer-social">
                    <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i class="ri-instagram-line"></i></a>
            </div>
        </footer>
    </div>

    <!-- JS -->
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="/static/js/jobPostsPage.js"></script>

    <script>

    </script>

</body>

</html>