<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Preload Fonts -->
    <link rel="preload" href="/static/fonts/woff2/iransansdnbold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/static/fonts/woff2/iransansdn.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/static/fonts/woff2/iransansdnlight.woff2" as="font" type="font/woff2" crossorigin />
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}"
        color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/remixicon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ourTeamPage.css') }}" />
    <title>آکادمی هنروما | تیم ما</title>
</head>

<body onload="pageLoaded()">
    <!-- Mobile Menu -->
    <div id="mobileMenu">
        <button id="menuCollapse">
            <i class="ri-close-line"></i>
        </button>
        <ul id="mobile-nav-menu">

            <li>
                <a href="{{url_for('aboutus') }}">
                    داستان ما
                    <div class="underline"></div>
                </a>
            </li>
            <li class="active">
                <a href="{{url_for('ourteam') }}">
                    تیم ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('contactus') }}">
                    ارتباط با ما
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
        <div id="side-about">
            <p>تهران،<br> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)، پلاک
                ۳، خانه هنروما
            </p>

            <p>تلگرام، بله و ایتا: @Honaroma_ad</p>
        </div>
        <div id="side-social">
            <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i
                    class="ri-instagram-line"></i></a>

        </div>
    </div>
    <!-- Scroll Up Btn -->
    <button id="scrollUp">
        <i class="ri-arrow-up-s-line"></i>
    </button>

    <div id="loader" class="animate__animated">
        <img src="/static/images/animation_300_ljxy19op.gif" width="300" />
    </div>
    <div id="page">
        <nav class="animate__animated animate__fadeIn nav-white">
            <a href="{{url_for('home') }}"><img class="logo" src="/static/images/honaroma.jpg" alt="" height="50" /></a>
            <ul id="nav-menu">

                <li><a class="nav-link" href="{{url_for('aboutus') }}">داستان ما</a>
                    <div class="underline"></div>
                </li>
                <li class="active"><a class="nav-link" href="{{url_for('ourteam') }}">تیم ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('contactus') }}">ارتباط با ما</a>
                    <div class="underline"></div>
                </li>
            </ul>
            <button id="menuExpand">
                <i class="ri-menu-line"></i>
            </button>
        </nav>
        <div id="intro-container" class="container">
            <div class="row">
                <div class="col-md-4 animate__animated animate__fadeInRight animate__delay-1">
                    <h1 class="section-title">
                        <b><span class="text-primary">تیم ما</span></b>
                    </h1>
                    <p class="section-subtitle">
                    </p>
                </div>

                <div class="col-md-8 animate__animated animate__fadeIn animate__delay-1s" id="imageContainer">
                    <img src="/static/images/site-edit6.png" width="844" />
                </div>
            </div>
            <div class="nectar-shape-divider-wrap no-color " style=" height:50px;" data-front="" data-style="fan"
                data-position="bottom"><svg class="nectar-shape-divider" fill="" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1003.92 91" preserveAspectRatio="none">
                    <polygon class="cls-1"
                        points="502.46 46.31 1 85.67 1 91.89 1002.91 91.89 1002.91 85.78 502.46 46.31"></polygon>
                    <polygon class="cls-2" points="502.46 45.8 1 0 1 91.38 1002.91 91.38 1002.91 0.1 502.46 45.8">
                    </polygon>
                    <rect class="cls-3" y="45.81" width="1003.92" height="46.09"></rect>
                </svg></div>
        </div>
        <!-- <div id="details-container" class="container">
            <p class="section-title"><b>ما!</b></p>
            <p class="section-subtitle text-gray">
                Creating value in the digital world is our main goal and idea. Wana‘s managers years of experience in
                domestic and international digital businesses have enabled us to be the best business assistants in the
                digital world.


            </p>
        </div> -->
        <div id="board-member" class="container">
            <p class="section-title"><b>اعضا</b></p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/DSC9291-1.png" />
                        </div>
                        <div class="title text-center pb-0">
                            نیلوفر جعفری
                        </div>
                        <div class="description text-center">
                            ایشون مدیر ماست. حواسش هست که همه چی سر جاش باشه و کارها به بهترین شکل پیش بره. از مزیت های
                            حضور نیلوفر در تیم اینه که کلی غذاهای خوشمزه میخوری! چون هربار که میاد یه دسر و غذای جدید رو
                            میکنه. نیلوفر علوم سیاسی خونده شاید واسه همین گاهی خیلی جدی میشه. ولی خب دلش خیلی مهربونه و
                            هوای تیم آکادمی هنروما رو داره
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/DSC9291-1.png" />
                        </div>
                        <div class="title text-center pb-0">
                            ماهور محمدی
                        </div>
                        <div class="description text-center">
                            ما بهش میگیم ماهی. ماهی معماری خونده و یه تصویر ساز هنرمنده. ماهور دیزاینر ماست. کار ماهور
                            خوشگلاسیون آکادمی ه. یعنی از دیزاین اتاق گرفته، تا پست های فضای مجازی و همه طرح های ما رو
                            خوشگل میکنه. علاوه بر این ماهور اسکرام مستر ماهم هست. حواسش به اینه که کارها به درستی تعریف
                            بشن و سر موقع انجام بگیرن. از مزیت های ماهور اینه که تو هر تیمی بره با خودش حس همدلی رو هم
                            میبره. واسه همینه که تیم آکادمی هنروما خیلی با هم همدل هستن
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/DSC9291-1.png" />
                        </div>
                        <div class="title text-center pb-0">
                            محمد کریمی
                        </div>
                        <div class="description text-center">
                            محمد و ما ادراک محمد! یه اهل سفر. یه عکاس. یه معلم هنر. محمد معلمی معماری خونده. اون همه
                            زندگی ش رو صرف آموزش هنر به بقیه کرده. جالبه بدونید همسر محمد هم همین کار رو کرده و ایشونم
                            هنر درس میده. محمد مسئول آموزش آکادمی هنروماست. واسه همین همه آموزش های آکادمی یدور از زیر
                            دست محمد رد میشه

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="team-members" class="container">
            <p class="section-title"><b>اعضای تیم</b></p>
            <div class="row">
                <div class="col-md-3 animation" data-animation="animate__bounceIn">
                    <div class="member-card">
                        <div class="overlay"></div>
                        <div class="image"
                            style="background-image: url(https://wana.studio/wp-content/uploads/2022/11/IMG_1779-600x403.jpeg);">
                        </div>
                        <div class="description">
                            <p class="title">محمد قدیم</p>
                            <p class="subtitle">مسئول اداری</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animation" data-animation="animate__bounceIn"">
                    <div class="member-card">
                        <div class="overlay"></div>
                        <div class="image"
                            style="background-image: url(https://wana.studio/wp-content/uploads/2022/11/IMG_1779-600x403.jpeg);">
                        </div>
                        <div class="description">
                            <p class="title">محمد قدیم</p>
                            <p class="subtitle">مسئول اداری</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animation" data-animation="animate__bounceIn"">
                    <div class="member-card">
                        <div class="overlay"></div>
                        <div class="image"
                            style="background-image: url(https://wana.studio/wp-content/uploads/2022/11/IMG_1779-600x403.jpeg);">
                        </div>
                        <div class="description">
                            <p class="title">محمد قدیم</p>
                            <p class="subtitle">مسئول اداری</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animation" data-animation="animate__bounceIn"">
                    <div class="member-card">
                        <div class="overlay"></div>
                        <div class="image"
                            style="background-image: url(https://wana.studio/wp-content/uploads/2022/11/IMG_1779-600x403.jpeg);">
                        </div>
                        <div class="description">
                            <p class="title">محمد قدیم</p>
                            <p class="subtitle">مسئول اداری</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <footer class="container">
            <div class="row">
                <div class="col-md-8 footer-info-conntainer">
                    <p class="footer-info social">
                        <a href="https://t.me/Honaroma_ad">
                            <img src="/static/images/Telegram_logo.svg.webp" />
                        </a>
                        <a href="https://ble.ir/Honaroma_ad">
                            <img src="/static/images/bale.jpg" />
                        </a>
                        <a href="https://eitaa.com/honaroma_ad">
                            <img src="/static/images/Eitaa-vector-logo.png" />
                        </a>
                    </p>
                    <br />
                    <p class="footer-info">تهران،<br /> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)،
                        پلاک
                        ۳، خانه هنروما
                    </p>
                </div>
                <div class="col-md-4 footer-image">
                    <img src="/static/images/honaroma.jpg" width="175" class="logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-copyright">تمام حقوق این سایت برای آکادمی هنروما محفوظ است.
                        <span style="font-size: 12px;"> - طراحی شده توسط محمد حاجی کندی و ایلیا سلیمانی</span>
                    </p>
                </div>
                <div class="col-md-6 footer-social">
                    <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i
                            class="ri-instagram-line"></i></a>
                </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>

    </script>

</body>

</html>