<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Preload Fonts -->
    <link rel="preload" href="/static/fonts/woff2/iransansdnbold.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/static/fonts/woff2/iransansdn.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/static/fonts/woff2/iransansdnlight.woff2" as="font" type="font/woff2" />
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" />
    <link rel="manifest"  href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/remixicon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ourServicesPage.css') }}" />
    <title>آکادمی هنروما | اگر مدرسه یا سازمان هستی...</title>
</head>

<body onload="pageLoaded()">
    <!-- Mobile Menu -->
    <div id="mobileMenu">
        <button id="menuCollapse">
            <i class="ri-close-line"></i>
        </button>
        <ul id="mobile-nav-menu">

            <li>
                <a href="{{url_for('aboutus') }}">
                    داستان ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('ourteam') }}">
                    تیم ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('contactus') }}">
                    ارتباط با ما
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
        <div id="side-about">
            <p>تهران،<br> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)، پلاک
                ۳، خانه هنروما
            </p>

            <p>تلگرام، بله و ایتا: @Honaroma_ad</p>
        </div>
        <div id="side-social">
            <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i
                    class="ri-instagram-line"></i></a>
            
        </div>
    </div>
    <!-- Scroll Up Btn -->
    <button id="scrollUp">
        <i class="ri-arrow-up-s-line"></i>
    </button>

    <div id="loader" class="animate__animated">
        <img src="/static/images/animation_300_ljxy19op.gif" width="300" />
    </div>
    <div id="page">
        <nav class="animate__animated animate__fadeIn">
            <a href="{{url_for('home') }}"><img class="logo" src="/static/images/honaroma.jpg" alt="" height="50" /></a>
            <ul id="nav-menu">

                <li><a class="nav-link" href="{{url_for('aboutus') }}">داستان ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('ourteam') }}">تیم ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('contactus') }}">ارتباط با ما</a>
                    <div class="underline"></div>
                </li>
            </ul>
            <button id="menuExpand">
                <i class="ri-menu-line"></i>
            </button>
        </nav>
        <div id="intro-container" class="container school-intro">
            <div class="row">
                <div class="col-md-6">
                    <p class="section-title text-center animate__animated animate__zoomIn animate__delay-1s">
                        <b class="text-black">اگر مدرسه هستی...</b>
                    </p>
                    <p class="section-subtitle text-gray animate__animated animate__zoomIn animate__delay-1s">
                        اگه صاحب مدرسه یا موسسه ای هستید،آکادمی هنروما براتون برنامه های ویژه ای داره که میتونیم باهم
                        همکاری کنیم. از برگزاری کارگاه و بوت کمپ گرفته تا طرح درس و بسته های تربیت معلم هنر که جزئیاتشو
                        اینجا میتونید بخونید
                    </p>
                </div>
                <div class="col-md-6 d-none d-md-block animate__animated animate__zoomIn animate__delay-1s">
                    <img src="/static/images/D57697EB-0EB5-4F4F-8E8D-75287B7B9386.png" width="844" />
                </div>
            </div>
            <div class="nectar-shape-divider-wrap no-color " style=" height:50px;" data-front="" data-style="curve_asym"
                data-position="bottom"><svg class="nectar-shape-divider" fill="" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
                </svg></div>
        </div>
        <div class="container imageAndText">
            <div class="row">
                <div class="col-md-4 animation" data-animation="animate__fadeInRight">
                    <img src="/static/images/site-edit10-1.png" />
                </div>
                <div class="col-md-8 animation" data-animation="animate__fadeInLeft">
                    <p class="section-title">
                        <b>برگزاری کلاس و دوره آموزشی </b>
                    </p>
                    <p class="section-subtitle">
                        ما یه لیست بلند بالا از کلاسای مهارتی داریم که میتونیم برای مخاطباتون یا فرزندای کارمنداتون
                        برگزار کنیم.
                    </p>
                </div>
            </div>
        </div>

        <div id="why-honaroma" class="container">
            <div class="row">

                <div class="col-lg-4">
                    <p class="section-title">
                        <b>دوره های <span class="text-primary">هنروما</span></b>
                        <img class="d-none d-md-block animate__animated" id="why-honaroma-image"
                            src="/static/images/3ta.png" />
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="card animation" data-animation="animate__fadeInRight">
                        <div class="title">
                            دوره های عمومی هنری
                        </div>
                        <p class="description">
                            از صفر تا صد مثل فیلم‌سازی، عکاسی، انیمیشن‌سازی، مستند‌سازی، گرافیک، پادکست و هرچیز دیگه ای
                            که فکرشو بکنید، ما براتون طراحی و برگزار میکنیم.


                        </p>
                    </div>
                    <div class="card animation" data-animation="animate__fadeInLeft">
                        <div class="title">
                            دوره های تخصصی هنری
                        </div>
                        <p class="description">
                            یه مهارت خاص رو از صفر شروع میکنیم به آموزش، بدون داشتن پیش زمینه ای. مثل طراحی لوگو، هویت
                            بصری، نویسندگی، بازیگری، فیلم برداری، ساخت تیزر و... بازم اگه دوره ای یا مهارت تخصصی ای رو
                            فکر میکنید بهش نیاز دارید، فقط لب تر کنید تا براتون اجرا کنیم.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card animation" data-animation="animate__fadeInLeft">
                        <div class="title">
                            دوره های نرم افزار محور
                        </div>
                        <p class="description">
                            از شیر مرغ تا جون آدم میزاد نرم افزار های هنری وجود داره که ما میتونیم براتون آموزششون بدیم.
                            نرم افزارهایی مثل فتوشاپ، ایلوستریتون، پریمیر، افتر افکت، پاورپوینت، موهو، ایندیزاین و....

                        </p>
                    </div>
                    <div class="card animation" data-animation="animate__fadeInRight">
                        <div class="title">
                            آموزش های موبایل محور
                        </div>
                        <p class="description">
                            مهارت هایی که فقط و فقط به یه موبایل نیاز دارید برای یادگرفتنشون. مثلا تدوین با موبایل،
                            طراحی پوستر ، انیمیشن سازی، طراحی پوستر، عکاسی، تایپوگرافی و....



                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="container reverse imageAndText">
            <div class="row">
                <div class="col-md-8 animation" data-animation="animate__fadeInRight">
                    <p class="section-title">
                        <b>برگزاری بوت کمپ و هکاتون</b>
                    </p>
                    <p class="section-subtitle">
                        تمام موضوعاتی که قابلیت برگزاری دوره آموزشی داشتن رو ما میتونیم خیلی فشرده و پروژه محود در قالب
                        بوت کمپ و هکاتون براتون برگزار کنیم. یه عالمه هم استاد خفن و کاردرست داریم که آماده همکاری با
                        شما هستن😊
                    </p>
                </div>
                <div class="col-md-4 animation" data-animation="animate__fadeInLeft">
                    <img src="/static/images/ddd5-1.png" />
                </div>
            </div>
        </div>
        <div class="container imageAndText">
            <div class="row">

                <div class="col-md-4 animation" data-animation="animate__fadeInRight">
                    <img src="/static/images/3ta.png" />
                </div>
                <div class="col-md-8 animation" data-animation="animate__fadeInLeft">
                    <p class="section-title">
                        <b>بسته تربیت معلم</b>
                    </p>
                    <p class="section-subtitle">
                        یه برنامه ی جامع هم داریم برای معلما و مدارسی که میخوان معلم هنراشون خیلی خفن تر و کاربلد تر بشن
                        ویه تکونی به زنگای هنرشون بدن. این طرح ما با برگزاری یه سری رویداد های آموزشی شروع میشه که هر
                        معلمی تو زندگیش باید این حرفارو بشنوه. بعدش ما برای هر مقطع تحصیلی از ابتدایی تا متوسطه یه سری
                        نقشه راه و سیر آموزشی طراحی کردیم که برای معلما ارائه میدیم.
                        <br/>
                        تو مرحله ی بعدی طرح درس هفته به هفته برای پیاده کردن اون سیر آموزشی که راجع بهش حرف زدیم در اختیار معلما میذاریم که بسته ی تدریس هنرمون تکمیل بشه. 
                    </p>
                </div>
            </div>
        </div>
        
        <div id="services" class="container">
            <p class="section-title">
                <b>
                    این طرح درسا شامل ۴ بخش اصلیه که برای هر جلسه ی آموزشی تدوین میشه:
                </b>
            </p>
            <div class="row animation" data-animation="animate__zoomIn">
                <div class="col-md-6">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            جزوه روش تدریس
                        </div>
                        <p class="description mb-1">
                            که توش تمام چیزی که معلم باید بدونه تا اون مبحث رو تدریس کنه وجود داره.


                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-color" style="background-color: #f73765;">
                        <div class="title">
                            پاورپوینت ارائه
                        </div>
                        <p class="description mb-1">
                            یه فایل خیلی جذاب و قشنگ برای ارائه ی اون مبحث براتون آماده شده که سر کلاس ارائه بدید و بچه ها انگشت به دهان بمونن از شیرینی آموزش اون مبحث.


                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-color" style="background-color: #110729;">
                        <div class="title">
                            جزوه دانش آموزش
                        </div>
                        <p class="description mb-1">
                            هر چیزی که سر کلاس گفته شد و حتی کامل تر از اون توی جزوه ی دانش آموز وجود داره که هم یادش بیاد سر کلاس چه اتفاقایی افتاد و هم اگه علاقه به یادگیری بیشتر داشت اونا رو مطالعه کنه.


                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-color" style="background-color: blueviolet;">
                        <div class="title">
                            جدول زمانبندی و فعالیت های آموزشی
                        </div>
                        <p class="description mb-1">
                            برای مدیریت بهتر کلاس هم این فایل آماده شده که کلاس مثل موم توی دستتون باشه و هم بتونید زمانو مدیریت کنید و هم فعالیت های آموزشی رو قبل از کلاس یه مرور سریع بکنید.


                        </p>
                    </div>
                </div>
            </div>
            
            <p class="section-subtitle">
                <b class="text-gray">
                    مجموع همه ی اینا میشه بسته ی تربیت معلم هنر که از اول ابتدایی تا نهم متوسطه رو پوشش میدیم و میتونیم معلماتون رو به ما بسپارید تا زیر و بم آموزش هنر رو یاد بگیرن و زنگ های هنر به شیرین زنگ هر پایه تبدیل بشه.
                </b>
            </p>
        </div>
        <!-- <div class="container reverse imageAndText">
            <div class="row">
                <div class="col-md-8 animation" data-animation="animate__fadeInRight">
                    <p class="section-title">
                        <b>Creative dep. </b>
                    </p>
                    <p class="section-title section-title-2">Branding and design</p>
                    <p class="section-subtitle">
                        Wana works with the best design, programming, product management and marketing experts from all
                        over Iran and the world to ensure your product will be the best product!

                        Wana Services covers a wide range of branding and design, product development and marketing. Our
                        team has a brilliant history in designing and producing online products and we believe that Wana
                        is your best companion in making your business online.
                    </p>
                </div>
                <div class="col-md-4 animation" data-animation="animate__fadeInLeft">
                    <img src="/static/images/ddd7.png" />
                </div>
            </div>
        </div>
        <div id="experience" class="container">
            <p class="section-title">
                <b>
                    <span class="text-gray">We are here to help you to shine in the digital world!</span>
                    <br />
                    Build your brand, develop your product and market it!
                </b>
            </p>
            <div class="row animation" data-animation="animate__fadeInUp">
                <div class="col-md-4">
                    <div class="card">
                        <div class="title text-center pb-0  pt-1">
                            We are Expert!
                        </div>
                        <div class="card-image pt-1">
                            <img src="/static/images/boghcheh.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="title text-center pb-0  pt-1">
                            We are Expert!
                        </div>
                        <div class="card-image pt-1">
                            <img src="/static/images/ddd6.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="title text-center pb-0  pt-1">
                            We are Expert!
                        </div>
                        <div class="card-image pt-1">
                            <img src="/static/images/boghcheh.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center d-none d-md-block  animation" data-animation="animate__fadeIn">
            <img class="image-fluid" src="/static/images/wana-site-08.png" />
        </div>
        <div id="products" class="container mt-2">
            <p class="section-title text-right">
                <b>
                    We know how to build an online business!
                </b>
            </p>
            <div class="row">
                <div class="col-md-6">
                    <p class="section-description text-right">
                        1- Brilliant products and services such as Boghcheh, SoundWave shop, RoseBox, MobileMall, etc.
                        have all
                        been the products of our team!
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="section-description text-right">
                        1- Brilliant products and services such as Boghcheh, SoundWave shop, RoseBox, MobileMall, etc.
                        have all
                        been the products of our team!
                    </p>
                </div>
            </div>
        </div> -->
        <footer class="container">
            <div class="row">
                <div class="col-md-8 footer-info-conntainer">
                    <p class="footer-info social">
                        <a href="https://t.me/Honaroma_ad">
                            <img src="/static/images/Telegram_logo.svg.webp" />
                        </a>
                        <a href="https://ble.ir/Honaroma_ad">
                            <img src="/static/images/bale.jpg" />
                        </a>
                        <a href="https://eitaa.com/honaroma_ad">
                            <img src="/static/images/Eitaa-vector-logo.png" />
                        </a>
                    </p>
                    <br />
                    <p class="footer-info">تهران،<br /> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)،
                        پلاک
                        ۳، خانه هنروما
                    </p>
                </div>
                <div class="col-md-4 footer-image">
                    <img src="/static/images/honaroma.jpg" width="175" class="logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><p class="footer-copyright">تمام حقوق این سایت برای آکادمی هنروما محفوظ است.
                        <span style="font-size: 12px;"> - طراحی شده توسط محمد حاجی کندی و ایلیا سلیمانی</span>
                    </p>
                </div>
                <div class="col-md-6 footer-social">
                    <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA=="><i
                            class="ri-instagram-line"></i></a>
                </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>

    </script>

</body>

</html>