<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Preload Fonts -->
    <link rel="preload" href="/static/fonts/woff2/iransansdnbold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/static/fonts/woff2/iransansdn.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/static/fonts/woff2/iransansdnlight.woff2" as="font" type="font/woff2" crossorigin />
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}"
        color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/remixicon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ourServicesPage.css') }}" />
    <title>آکادمی هنروما | اگر دانش آموزی...</title>
</head>

<body onload="pageLoaded()">
    <!-- Mobile Menu -->
    <div id="mobileMenu">
        <button id="menuCollapse">
            <i class="ri-close-line"></i>
        </button>
        <ul id="mobile-nav-menu">

            <li>
                <a href="{{url_for('aboutus') }}">
                    داستان ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('ourteam') }}">
                    تیم ما
                    <div class="underline"></div>
                </a>
            </li>
            <li>
                <a href="{{url_for('contactus') }}">
                    ارتباط با ما
                    <div class="underline"></div>
                </a>
            </li>
        </ul>
        <div id="side-about">
            <p>تهران،<br> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)، پلاک
                ۳، خانه هنروما
            </p>
        </div>
        <div id="side-social">
            <p class="footer-info social social-lg">
                <a href="https://t.me/Honaroma_ad">
                    <img src="/static/images/telegram-white.png" />
                </a>
                <a href="https://ble.ir/Honaroma_ad">
                    <img src="/static/images/bale-white.png" />
                </a>
                <a href="https://eitaa.com/honaroma_ad">
                    <img src="/static/images/eitaa-white.png" />
                </a>
                <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA==">
                    <img src="/static/images/instagram-white.png" />
                </a>
            </p>

        </div>
    </div>
    <!-- Scroll Up Btn -->
    <button id="scrollUp">
        <i class="ri-arrow-up-s-line"></i>
    </button>

    <div id="loader" class="animate__animated">
        <img src="/static/images/animation_300_ljxy19op.gif" width="300" />
    </div>
    <div id="page">
        <nav class="animate__animated animate__fadeIn">
            <a href="{{url_for('home') }}"><img class="logo" src="/static/images/honaroma.jpg" alt="" height="50" /></a>
            <ul id="nav-menu">

                <li><a class="nav-link" href="{{url_for('aboutus') }}">داستان ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('ourteam') }}">تیم ما</a>
                    <div class="underline"></div>
                </li>
                <li><a class="nav-link" href="{{url_for('contactus') }}">ارتباط با ما</a>
                    <div class="underline"></div>
                </li>
            </ul>
            <button id="menuExpand">
                <i class="ri-menu-line"></i>
            </button>
        </nav>
        <div id="intro-container" class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="section-title text-center animate__animated animate__zoomIn animate__delay-1s">
                        <b class="text-black">اگر دانش‌آموزی...</b>
                    </p>
                    <p class="section-subtitle text-gray animate__animated animate__zoomIn animate__delay-1s">
                        آکادمی هنروما همون جاست که دقیقا برای توهه. لذت تجربه طعم شیرین هنر و کشف و یاد گرفتن!
                    </p>
                </div>
                <div class="col-md-6 d-none d-md-block animate__animated animate__zoomIn animate__delay-1s">
                    <img src="/static/images/487A4B2F-4756-496D-B219-47ED61ED1815.png" width="844" />
                </div>
            </div>
            <div class="nectar-shape-divider-wrap no-color " style=" height:50px;" data-front="" data-style="curve_asym"
                data-position="bottom"><svg class="nectar-shape-divider" fill="" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
                </svg></div>
        </div>
        <div class="container imageAndText">
            <div class="row">
                <div class="col-md-4 animation" data-animation="animate__fadeInRight">
                    <img src="/static/images/0D11A73A-B94B-4C02-AB21-41A89985DDF1.png" />
                </div>
                <div class="col-md-8 animation" data-animation="animate__fadeInLeft">
                    <p class="section-title">
                        <b>کلاس‌های تابستونی </b>
                    </p>
                    <p class="section-subtitle">
                        ما هر سال توی اوج گرمای تابستون کلاس‌های هنری-مهارتی به صورت مجازی برای شما برگزار میکنیم.
                        انیمیشن سازی با موهو، عکاسی، تصویرسازی، paperart، آبرنگ، فوتومونتاژ و ... فقط بخشی از منو جذاب
                        امسال ماست.
                    </p>
                </div>
            </div>
        </div>
        <div class="container reverse imageAndText">
            <div class="row">
                <div class="col-md-8 animation" data-animation="animate__fadeInRight">
                    <p class="section-title">
                        <b>کارگاه، بوت‌کمپ، کارسوق</b>
                    </p>
                    <p class="section-subtitle">
                        هرچندوقت یکبار کارگاه‌های حضوری داریم! کجا ؟ توی حیاط موسسه هنروما! از کارگاه‌های نیم‌روزه تا
                        کارگاه‌های ۲ روزه! حتی گاهی اوقات بوت‌کمپ های یک هفته‌ای! هرکدوم از این رویدادها مثل یک سفر
                        خیال‌انگیز به دنیای هنر می‌مونن که پر از ماجراجویی و خلاقیت‌هه!
                    </p>
                </div>
                <div class="col-md-4 animation" data-animation="animate__fadeInLeft">
                    <img src="/static/images/2F3A0139-C90A-44FF-A406-5B69968AAF04.png" />
                </div>
            </div>
        </div>
        <div class="container imageAndText">
            <div class="row">

                <div class="col-md-4 animation" data-animation="animate__fadeInRight">
                    <img src="/static/images/7E3BB430-01D6-40A1-AB69-7B5008840911.png" />
                </div>
                <div class="col-md-8 animation" data-animation="animate__fadeInLeft">
                    <p class="section-title">
                        <b>دوره‌های آفلاین</b>
                    </p>
                    <p class="section-subtitle">
                        آکادمی هنروما در کنار همه آموزش‌های مجازی و حضوری، دوره های آفلاین تخصصی رو هم براتون ضبط کرده.
                        دوره هایی مثل: آهنگ‌سازی، خطاطی، استاپ‌موشن و...
                        <br />
                        این دوره ها به صورت آفلاین هستن این یعنی شما هروقت و هرکجا بخواید میتونید این کلاسها رو مشاهده
                        کنید!

                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="container reverse imageAndText">
            <div class="row">
                <div class="col-md-8 animation" data-animation="animate__fadeInRight">
                    <p class="section-title">
                        <b>Creative dep. </b>
                    </p>
                    <p class="section-title section-title-2">Branding and design</p>
                    <p class="section-subtitle">
                        Wana works with the best design, programming, product management and marketing experts from all
                        over Iran and the world to ensure your product will be the best product!

                        Wana Services covers a wide range of branding and design, product development and marketing. Our
                        team has a brilliant history in designing and producing online products and we believe that Wana
                        is your best companion in making your business online.
                    </p>
                </div>
                <div class="col-md-4 animation" data-animation="animate__fadeInLeft">
                    <img src="/static/images/ddd7.png" />
                </div>
            </div>
        </div>
        <div id="services" class="container">
            <div class="row animation" data-animation="animate__zoomIn">
                <div class="col-md-6">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description mb-1">
                            It’s not about what we do! It’s all about how we do! we do your projects to creative with
                            the brilliant ideas and innovations.

                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description mb-1">
                            It’s not about what we do! It’s all about how we do! we do your projects to creative with
                            the brilliant ideas and innovations.

                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description mb-1">
                            It’s not about what we do! It’s all about how we do! we do your projects to creative with
                            the brilliant ideas and innovations.

                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description mb-1">
                            It’s not about what we do! It’s all about how we do! we do your projects to creative with
                            the brilliant ideas and innovations.

                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description mb-1">
                            It’s not about what we do! It’s all about how we do! we do your projects to creative with
                            the brilliant ideas and innovations.

                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-color bg-yellow">
                        <div class="title">
                            2- We are Global!
                        </div>
                        <p class="description mb-1">
                            It’s not about what we do! It’s all about how we do! we do your projects to creative with
                            the brilliant ideas and innovations.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="experience" class="container">
            <p class="section-title">
                <b>
                    <span class="text-gray">We are here to help you to shine in the digital world!</span>
                    <br />
                    Build your brand, develop your product and market it!
                </b>
            </p>
            <div class="row animation" data-animation="animate__fadeInUp">
                <div class="col-md-4">
                    <div class="card">
                        <div class="title text-center pb-0  pt-1">
                            We are Expert!
                        </div>
                        <div class="card-image pt-1">
                            <img src="/static/images/boghcheh.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="title text-center pb-0  pt-1">
                            We are Expert!
                        </div>
                        <div class="card-image pt-1">
                            <img src="/static/images/ddd6.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="title text-center pb-0  pt-1">
                            We are Expert!
                        </div>
                        <div class="card-image pt-1">
                            <img src="/static/images/boghcheh.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center d-none d-md-block  animation" data-animation="animate__fadeIn">
            <img class="image-fluid" src="/static/images/wana-site-08.png" />
        </div>
        <div id="products" class="container mt-2">
            <p class="section-title text-right">
                <b>
                    We know how to build an online business!
                </b>
            </p>
            <div class="row">
                <div class="col-md-6">
                    <p class="section-description text-right">
                        1- Brilliant products and services such as Boghcheh, SoundWave shop, RoseBox, MobileMall, etc.
                        have all
                        been the products of our team!
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="section-description text-right">
                        1- Brilliant products and services such as Boghcheh, SoundWave shop, RoseBox, MobileMall, etc.
                        have all
                        been the products of our team!
                    </p>
                </div>
            </div>
        </div> -->
        <footer class="container">
            <div class="row">
                <div class="col-md-8 footer-info-conntainer">
                    <p class="footer-info social">
                        <a href="https://t.me/Honaroma_ad">
                            <img src="/static/images/telegram.png" />
                        </a>
                        <a href="https://ble.ir/Honaroma_ad">
                            <img src="/static/images/bale.png" />
                        </a>
                        <a href="https://eitaa.com/honaroma_ad">
                            <img src="/static/images/eitaa.png" />
                        </a>
                        <a href="https://instagram.com/honaroma_academy?igshid=MzRlODBiNWFlZA==">
                            <img src="/static/images/instagram.png" />
                        </a>
                    </p>
                    <br />
                    <p class="footer-info">تهران،<br /> خیابان کریمخان، خیابان سنایی، خیابان جوادزاده غربی( هشتم غربی)،
                        پلاک
                        ۳، خانه هنروما
                    </p>
                </div>
                <div class="col-md-4 footer-image">
                    <img src="/static/images/honaroma.jpg" width="175" class="logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-copyright">تمام حقوق این سایت برای آکادمی هنروما محفوظ است.
                        <span style="font-size: 12px;"> - طراحی شده توسط محمد حاجی کندی و ایلیا سلیمانی</span>
                    </p>
                </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>

    </script>

</body>

</html>